In [98]:
import pandas as pd
import numpy as np

In [42]:
covid = pd.read_csv("data/covid_canarias.csv")
municipios = pd.read_csv("data/municipios.csv")

In [4]:
covid.head()

,fecha_datos,isla,municipio,sexo,grupo_edad,fecha_caso,fecha_fallecido,fecha_curado,estado_caso,identificacion_caso,fallecido,curado,continua_enfermo,provincia
0,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
1,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
2,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,06/01/2022,NaN,17/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
3,14/03/2022,TENERIFE,Adeje,Hombre,50 - 59,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
4,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife

In [30]:
asignacion = covid[covid['identificacion_caso'] == "Asignación"]

In [40]:
asignacion_count = asignacion.groupby(['fecha_caso','municipio']).size().reset_index()

In [48]:
print(asignacion_count.groupby('fecha_caso'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E06622B790>

In [45]:
df_municipios = pd.DataFrame(municipios['municipio'])

In [111]:
print(asignacion_count)

       fecha_caso            municipio   0
0      01/01/2021                Adeje   1
1      01/01/2021             Arrecife  11
2      01/01/2021           El Rosario   2
3      01/01/2021  Granadilla de Abona   3
4      01/01/2021            La Laguna  21
...           ...                  ...  ..
13778  31/12/2021             Valverde  19
13779  31/12/2021    Vega de San Mateo  13
13780  31/12/2021             Vilaflor   1
13781  31/12/2021        Villa de Mazo   3
13782  31/12/2021                Yaiza  29

[13783 rows x 3 columns]

In [34]:
asignacion_count.to_excel('covid_fin.xlsx', index=False, encoding="utf8")

In [117]:
pru = pd.DataFrame()
for index, row in df_municipios.iterrows():
    aux = asignacion_count[asignacion_count['municipio'] == row['municipio']]
    #aux = aux[['fecha_caso','0']]
    #aux.set_index('fecha_caso')
    aux.columns=['fecha','municipio',row['municipio']]
    aux = aux[['fecha', row['municipio']]]
    aux = aux.transpose()
    print(aux)
    pru = pd.concat([pru, aux])
    print("Suma columnas: ",pru.shape)

             91          186         464         621         738    \
fecha   01/02/2022  01/03/2022  02/01/2022  02/03/2022  02/07/2021
Agaete           6           1           2           1           1

             833         924         1020        1111        1329   ...  \
fecha   02/10/2021  03/01/2022  03/02/2022  03/03/2022  03/11/2021  ...
Agaete           1          12           2           3           1  ...

             12023       12223       12402       12477       12741  \
fecha   27/02/2021  27/09/2021  28/01/2022  28/02/2022  28/12/2021
Agaete           1           1           5           4           5

             13099       13279       13448       13542       13712
fecha   29/12/2021  30/05/2021  30/12/2021  31/01/2022  31/12/2021
Agaete          12           2           4           4           1

[2 rows x 97 columns]
Suma columnas:  (2, 97)
              12          92          188         275         324    \
fecha    01/01/2022  01/02/2022  01/03/2022  01/06/2021  01/08/2021
Agüimes           3           4           6           1           2

              358         404         465         542         593    ...  \
fecha    01/09/2021  01/12/2021  02/01/2022  02/02/2022  02/03/2021  ...
Agüimes           1           3           7           6           1  ...

              13066       13101       13287       13312       13362  \
fecha    29/11/2021  29/12/2021  30/06/2021  30/07/2021  30/08/2021
Agüimes           2          29           1           4           1

              13413       13450       13543       13601       13714
fecha    30/11/2021  30/12/2021  31/01/2022  31/03/2021  31/12/2021
Agüimes           4          16           9           1           5

[2 rows x 189 columns]
Suma columnas:  (4, 286)
              466         1599        1894        2302        3488   \
fecha    02/01/2022  04/03/2022  05/01/2022  06/01/2022  08/07/2021
Antigua           1           1           1           1           1

              4154        4253        4667        4854        4989   ...  \
fecha    10/01/2022  10/02/2022  11/01/2022  11/03/2022  11/07/2021  ...
Antigua           1           1           1           1           1  ...

              7145        7453        7897        7997        8227   \
fecha    16/03/2021  17/01/2022  18/01/2022  18/02/2022  18/11/2021
Antigua           1           1           4           2           1

              10145       11226       11525       12682       13545
fecha    23/01/2022  25/03/2021  26/01/2022  28/09/2021  31/01/2022
Antigua           1           1           1           2           1

[2 rows x 31 columns]
Suma columnas:  (6, 317)
               1           16          66          96          160    \
fecha     01/01/2021  01/01/2022  01/02/2021  01/02/2022  01/03/2021
Arrecife          11         180          31          44          12

               192         243         260         277         298    ...  \
fecha     01/03/2022  01/04/2021  01/05/2021  01/06/2021  01/07/2021  ...
Arrecife          35          13           3           5           6  ...

               13416       13455       13533       13548       13603  \
fecha     30/11/2021  30/12/2021  31/01/2021  31/01/2022  31/03/2021
Arrecife          23         201          33          48           6

               13627       13640       13675       13696       13717
fecha     31/05/2021  31/07/2021  31/08/2021  31/10/2021  31/12/2021
Arrecife           7           5          11           3         183

[2 rows x 434 columns]
Suma columnas:  (8, 751)
               546         1025        1116        1899        2710   \
fecha     02/02/2022  03/02/2022  03/03/2022  05/01/2022  07/01/2022
Artenara           1           1           1           3           5

               2801        2877        3362        3753        3967   ...  \
fecha     07/02/2022  07/03/2022  08/03/2022  09/02/2022  09/07/2021  ...
Artenara           2           2           3           1           1  ...

               7902        8353        8750        9204        10419  \
fecha     18/01/2022  19/01/2022  20/01/2021  21/01/2021  23/08/2021
Artenara           2           1           1           2           1

               10507       11529       13107       13456       13549
fecha     23/12/2021  26/01/2022  29/12/2021  30/12/2021  31/01/2022
Artenara           1           1           1           1           1

[2 rows x 32 columns]
Suma columnas:  (10, 783)
             17          67          97          161         193    \
fecha   01/01/2022  01/02/2021  01/02/2022  01/03/2021  01/03/2022
Arucas           4           1          11           2           2

             446         469         547         596         628    ...  \
fecha   02/01/2021  02/01/2022  02/02/2022  02/03/2021  02/03/2022  ...
Arucas           1           5          11           2           7  ...

             13108       13183       13236       13290       13399  \
fecha   29/12/2021  30/01/2021  30/03/2021  30/06/2021  30/10/2021
Arucas          15           3           1           2           2

             13457       13550       13604       13697       13718
fecha   30/12/2021  31/01/2022  31/03/2021  31/10/2021  31/12/2021
Arucas          14           7           1           1          17

[2 rows x 161 columns]
Suma columnas:  (12, 944)
Empty DataFrame
Columns: []
Index: [fecha, Betancuria]
Suma columnas:  (14, 944)
             22          107         302         477         551    \
fecha   01/01/2022  01/02/2022  01/07/2021  02/01/2022  02/02/2022
Firgas           1           2           1           3           2

             638         879         940         1032        1086   ...  \
fecha   02/03/2022  02/12/2021  03/01/2022  03/02/2022  03/03/2021  ...
Firgas           4           1           7           2           1  ...

             12415       12760       12944       13053       13120  \
fecha   28/01/2022  28/12/2021  29/06/2021  29/10/2021  29/12/2021
Firgas           3          13           2           1          12

             13402       13419       13469       13643       13728
fecha   30/10/2021  30/11/2021  30/12/2021  31/07/2021  31/12/2021
Firgas           1           1           5           1           3

[2 rows x 85 columns]
Suma columnas:  (16, 1029)
             27          70          112         166         203    \
fecha   01/01/2022  01/02/2021  01/02/2022  01/03/2021  01/03/2022
Gáldar          15           1          12           2          16

             363         481         525         555         643    ...  \
fecha   01/09/2021  02/01/2022  02/02/2021  02/02/2022  02/03/2022  ...
Gáldar           1          11           1          12          11  ...

             12630       12765       12856       12982       13126  \
fecha   28/07/2021  28/12/2021  29/01/2022  29/07/2021  29/12/2021
Gáldar           1          15           1           2          22

             13207       13474       13558       13647       13734
fecha   30/01/2022  30/12/2021  31/01/2022  31/07/2021  31/12/2021
Gáldar          13          14           7           1          20

[2 rows x 158 columns]
Suma columnas:  (18, 1187)
            645         709         948         1088        1434        1529   \
fecha  02/03/2022  02/05/2021  03/01/2022  03/03/2021  04/01/2022  04/02/2022
Haría           1           1           2           1           2           1

            1621        1839        1916        2319   ...       11078  \
fecha  04/03/2022  04/12/2021  05/01/2022  06/01/2022  ...  25/01/2022
Haría           3           1           4           1  ...           1

            11180       11273       11981       12325       12421       12767  \
fecha  25/02/2022  25/05/2021  27/01/2022  27/12/2021  28/01/2022  28/12/2021
Haría           1           1           2           1           1           2

            13128       13422       13476
fecha  29/12/2021  30/11/2021  30/12/2021
Haría           3           1           1

[2 rows x 55 columns]
Suma columnas:  (20, 1242)
              30          72          116         207         335    \
fecha    01/01/2022  01/02/2021  01/02/2022  01/03/2022  01/08/2021
Ingenio           1           1           5          13           3

              417         484         526         559         648    ...  \
fecha    01/12/2021  02/01/2022  02/02/2021  02/02/2022  02/03/2022  ...
Ingenio           1          11           1           2          15  ...

              13210       13329       13369       13424       13479  \
fecha    30/01/2022  30/07/2021  30/08/2021  30/11/2021  30/12/2021
Ingenio           1           7           1           3          35

              13561       13609       13650       13678       13737
fecha    31/01/2022  31/03/2021  31/07/2021  31/08/2021  31/12/2021
Ingenio           7           1           1           1          15

[2 rows x 222 columns]
Suma columnas:  (22, 1464)
            40          127         218         396         425         494    \
fecha  01/01/2022  01/02/2022  01/03/2022  01/11/2021  01/12/2021  02/01/2022
Mogán           8           8           9           1           3          10

            567         606         660         788    ...       13040  \
fecha  02/02/2022  02/03/2021  02/03/2022  02/08/2021  ...  29/09/2021
Mogán          14           1          27           6  ...           1

            13060       13080       13142       13339       13432       13491  \
fecha  29/10/2021  29/11/2021  29/12/2021  30/07/2021  30/11/2021  30/12/2021
Mogán           1           1          25           9           3          40

            13572       13658       13748
fecha  31/01/2022  31/07/2021  31/12/2021
Mogán          14           2          12

[2 rows x 199 columns]
Suma columnas:  (24, 1663)
            41          128         343         495         568         607    \
fecha  01/01/2022  01/02/2022  01/08/2021  02/01/2022  02/02/2022  02/03/2021
Moya            2           3           1           2           7           1

            661         891         964         1053   ...       12435  \
fecha  02/03/2022  02/12/2021  03/01/2022  03/02/2022  ...  28/01/2022
Moya            4           1          12           2  ...           3

            12514       12644       12783       12869       13143       13492  \
fecha  28/02/2022  28/07/2021  28/12/2021  29/01/2022  29/12/2021  30/12/2021
Moya            6           1           6           3           9           7

            13573       13682       13749
fecha  31/01/2022  31/08/2021  31/12/2021
Moya            5           1           7

[2 rows x 104 columns]
Suma columnas:  (26, 1767)
               5           33          74          120         169    \
fecha     01/01/2021  01/01/2022  01/02/2021  01/02/2022  01/03/2021
La Oliva           1          12           2          24           3

               211         249         307         337         365    ...  \
fecha     01/03/2022  01/04/2021  01/07/2021  01/08/2021  01/09/2021  ...
La Oliva           1           4           6           5           4  ...

               13386       13426       13484       13535       13566  \
fecha     30/09/2021  30/11/2021  30/12/2021  31/01/2021  31/01/2022
La Oliva           1           6          31           2          27

               13611       13653       13680       13701       13741
fecha     31/03/2021  31/07/2021  31/08/2021  31/10/2021  31/12/2021
La Oliva           4          11           3           2          36

[2 rows x 350 columns]
Suma columnas:  (28, 2117)
             44          78          131         177         221    \
fecha   01/01/2022  01/02/2021  01/02/2022  01/03/2021  01/03/2022
Pájara          13           1           8           1           3

             268         369         387         428         498    ...  \
fecha   01/05/2021  01/09/2021  01/10/2021  01/12/2021  02/01/2022  ...
Pájara           1           2           1           2          22  ...

             13304       13342       13375       13435       13497  \
fecha   30/06/2021  30/07/2021  30/08/2021  30/11/2021  30/12/2021
Pájara           5          15           1           3          28

             13576       13633       13661       13685       13753
fecha   31/01/2022  31/05/2021  31/07/2021  31/08/2021  31/12/2021
Pájara          15           3           3           2          18

[2 rows x 268 columns]
Suma columnas:  (30, 2385)
                                 6           36          75          123    \
fecha                       01/01/2021  01/01/2022  01/02/2021  01/02/2022
Las Palmas de Gran Canaria          62         624         137         452

                                 172         214         250         265    \
fecha                       01/03/2021  01/03/2022  01/04/2021  01/05/2021
Las Palmas de Gran Canaria          58         316         113          41

                                 285         309    ...       13428  \
fecha                       01/06/2021  01/07/2021  ...  30/11/2021
Las Palmas de Gran Canaria          28          73  ...         138

                                 13487       13536       13569       13612  \
fecha                       30/12/2021  31/01/2021  31/01/2022  31/03/2021
Las Palmas de Gran Canaria        1059          98         375          84

                                 13630       13655       13681       13702  \
fecha                       31/05/2021  31/07/2021  31/08/2021  31/10/2021
Las Palmas de Gran Canaria          17         275          57          19

                                 13744
fecha                       31/12/2021
Las Palmas de Gran Canaria         912

[2 rows x 437 columns]
Suma columnas:  (32, 2822)

                         43          76          130         176    \
fecha               01/01/2022  01/02/2021  01/02/2022  01/03/2021
Puerto del Rosario          47           3          49           5

                         220         253         287         312    \
fecha               01/03/2022  01/04/2021  01/06/2021  01/07/2021
Puerto del Rosario          10          12           1          17

                         345         368    ...       13406       13434  \
fecha               01/08/2021  01/09/2021  ...  30/10/2021  30/11/2021
Puerto del Rosario           7           9  ...           5          21

                         13494       13537       13575       13614  \
fecha               30/12/2021  31/01/2021  31/01/2022  31/03/2021
Puerto del Rosario          50           1          46          15

                         13660       13684       13704       13751
fecha               31/07/2021  31/08/2021  31/10/2021  31/12/2021
Puerto del Rosario          10           4           1          59

[2 rows x 403 columns]
Suma columnas:  (34, 3225)
                    79          132         288         346         499    \
fecha          01/02/2021  01/02/2022  01/06/2021  01/08/2021  02/01/2022
San Bartolomé           1           8           1           1           3

                    573         666         968         1010        1057   \
fecha          02/02/2022  02/03/2022  03/01/2022  03/02/2021  03/02/2022
San Bartolomé           1           5          25           1           5

               ...       12346       12519       12788       12833  \
fecha          ...  27/12/2021  28/02/2022  28/12/2021  29/01/2021
San Bartolomé  ...          10           3          13           2

                    12916       13150       13190       13437       13499  \
fecha          29/04/2021  29/12/2021  30/01/2021  30/11/2021  30/12/2021
San Bartolomé           1           9           2           1          22

                    13755
fecha          31/12/2021
San Bartolomé           4

[2 rows x 101 columns]
Suma columnas:  (36, 3326)
                                45          80          133         178    \
fecha                      01/01/2022  01/02/2021  01/02/2022  01/03/2021
San Bartolomé de Tirajana          41           1          21           2

                                223         254         289         313    \
fecha                      01/03/2022  01/04/2021  01/06/2021  01/07/2021
San Bartolomé de Tirajana          29           1           1           2

                                347         370    ...       13407  \
fecha                      01/08/2021  01/09/2021  ...  30/10/2021
San Bartolomé de Tirajana           2           1  ...           5

                                13438       13500       13538       13578  \
fecha                      30/11/2021  30/12/2021  31/01/2021  31/01/2022
San Bartolomé de Tirajana           6          57           1          25

                                13615       13662       13687       13705  \
fecha                      31/03/2021  31/07/2021  31/08/2021  31/10/2021
San Bartolomé de Tirajana           4           3           5           1

                                13756
fecha                      31/12/2021
San Bartolomé de Tirajana          62

[2 rows x 344 columns]
Suma columnas:  (38, 3670)
                              31          117         208         485    \
fecha                    01/01/2022  01/02/2022  01/03/2022  02/01/2022
La Aldea de San Nicolás           1           7           4           5

                              649         952         1041        1139   \
fecha                    02/03/2022  03/01/2022  03/02/2022  03/03/2022
La Aldea de San Nicolás          12          18           3           3

                              1261        1438   ...       12591       12634  \
fecha                    03/08/2021  04/01/2022  ...  28/05/2021  28/07/2021
La Aldea de San Nicolás           2          16  ...           1           1

                              12723       12771       12827       13131  \
fecha                    28/11/2021  28/12/2021  29/01/2021  29/12/2021
La Aldea de San Nicolás           1           6           2           8

                              13211       13480       13562       13738
fecha                    30/01/2022  30/12/2021  31/01/2022  31/12/2021
La Aldea de San Nicolás           2          10           1           5

[2 rows x 103 columns]
Suma columnas:  (40, 3773)
                    48          137         179         255         349    \
fecha          01/01/2022  01/02/2022  01/03/2021  01/04/2021  01/08/2021
Santa Brígida          15           4           1           1           3

                    503         532         576         614         671    \
fecha          02/01/2022  02/02/2021  02/02/2022  02/03/2021  02/03/2022
Santa Brígida          10           1           1           1           7

               ...       12793       12835       12963       13002  \
fecha          ...  28/12/2021  29/01/2021  29/06/2021  29/07/2021
Santa Brígida  ...          12           2           2           1

                    13155       13224       13347       13504       13581  \
fecha          29/12/2021  30/01/2022  30/07/2021  30/12/2021  31/01/2022
Santa Brígida          25           2           4          25           7

                    13759
fecha          31/12/2021
Santa Brígida           3

[2 rows x 155 columns]
Suma columnas:  (42, 3928)
                              50          82          139         182    \
fecha                    01/01/2022  01/02/2021  01/02/2022  01/03/2021
Santa Lucía de Tirajana          10           1          23           3

                              226         257         270         316    \
fecha                    01/03/2022  01/04/2021  01/05/2021  01/07/2021
Santa Lucía de Tirajana          25           1           1           1

                              351         372    ...       13378       13392  \
fecha                    01/08/2021  01/09/2021  ...  30/08/2021  30/09/2021
Santa Lucía de Tirajana           6           2  ...           2           2

                              13441       13507       13583       13620  \
fecha                    30/11/2021  30/12/2021  31/01/2022  31/03/2021
Santa Lucía de Tirajana          14          81          35          17

                              13635       13666       13690       13762
fecha                    31/05/2021  31/07/2021  31/08/2021  31/12/2021
Santa Lucía de Tirajana           1           6           3          20

[2 rows x 319 columns]
Suma columnas:  (44, 4247)
Empty DataFrame
Columns: []
Index: [fecha, Santa María de Guía de Gran Canaria]
Suma columnas:  (46, 4247)
              9           55          84          145         510    \
fecha    01/01/2021  01/01/2022  01/02/2021  01/02/2022  02/01/2022
Teguise           1          12           1           7          20

              536         582         681         907         981    ...  \
fecha    02/02/2021  02/02/2022  02/03/2022  02/12/2021  03/01/2022  ...
Teguise           1           8           1           1          49  ...

              12803       12839       12878       13011       13165  \
fecha    28/12/2021  29/01/2021  29/01/2022  29/07/2021  29/12/2021
Teguise          33           1           6           1          31

              13228       13514       13588       13708       13768
fecha    30/01/2022  30/12/2021  31/01/2022  31/10/2021  31/12/2021
Teguise           4          32           8           1          19

[2 rows x 145 columns]
Suma columnas:  (48, 4392)
             682         1070        1170        1558        1952   \
fecha   02/03/2022  03/02/2022  03/03/2022  04/02/2022  05/01/2022
Tejeda           1           1           2           1           1

             2351        2846        3243        3712        3890   ...  \
fecha   06/01/2022  07/02/2022  08/01/2022  09/01/2022  09/03/2022  ...
Tejeda           2           7           1           3           1  ...

             10732       11113       11343       11639       11766  \
fecha   24/02/2022  25/01/2022  25/07/2021  26/02/2022  26/07/2021
Tejeda           1           1           1           2           1

             12804       13166       13515       13589       13769
fecha   28/12/2021  29/12/2021  30/12/2021  31/01/2022  31/12/2021
Tejeda           1           1           1           1           2

[2 rows x 39 columns]
Suma columnas:  (50, 4431)
            56          85          146         183         231         258    \
fecha  01/01/2022  01/02/2021  01/02/2022  01/03/2021  01/03/2022  01/04/2021
Telde          52           3          30           3          33           2

            319         353         373         389    ...       13355  \
fecha  01/07/2021  01/08/2021  01/09/2021  01/10/2021  ...  30/07/2021
Telde           2          10           2           1  ...          10

            13410       13444       13516       13590       13623       13670  \
fecha  30/10/2021  30/11/2021  30/12/2021  31/01/2022  31/03/2021  31/07/2021
Telde           2           6         137          39           1           4

            13692       13709       13770
fecha  31/08/2021  31/10/2021  31/12/2021
Telde           2           2          95

[2 rows x 330 columns]
Suma columnas:  (52, 4761)
            57          147         438         512         584         705    \
fecha  01/01/2022  01/02/2022  01/12/2021  02/01/2022  02/02/2022  02/04/2021
Teror           1           4           1           2           3           1

            735         804         909         983    ...       12880  \
fecha  02/06/2021  02/08/2021  02/12/2021  03/01/2022  ...  29/01/2022
Teror           1           1           3           8  ...           1

            12922       13013       13168       13194       13356       13445  \
fecha  29/04/2021  29/07/2021  29/12/2021  30/01/2021  30/07/2021  30/11/2021
Teror           1           1          19           1           2           2

            13517       13591       13771
fecha  30/12/2021  31/01/2022  31/12/2021
Teror           6           2           5

[2 rows x 117 columns]
Suma columnas:  (54, 4878)
            10          59          150         235         293         462    \
fecha  01/01/2021  01/01/2022  01/02/2022  01/03/2022  01/06/2021  02/01/2021
Tías            2          14           6           1           1           1

            515         538         586         685    ...       13092  \
fecha  02/01/2022  02/02/2021  02/02/2022  02/03/2022  ...  29/11/2021
Tías           23           2           4           5  ...           2

            13171       13195       13394       13411       13521       13594  \
fecha  29/12/2021  30/01/2021  30/09/2021  30/10/2021  30/12/2021  31/01/2022
Tías           23           2           1           1          40           3

            13693       13710       13775
fecha  31/08/2021  31/10/2021  31/12/2021
Tías            2           1          17

[2 rows x 207 columns]

Suma columnas:  (56, 5085)
             148         233         684         985         1174   \
fecha   01/02/2022  01/03/2022  02/03/2022  03/01/2022  03/03/2022
Tinajo           1           1           6          11           4

             1475        1659        1955        2081        2205   ...  \
fecha   04/01/2022  04/03/2022  05/01/2022  05/03/2022  05/08/2021  ...
Tinajo          12           1          21           1           1  ...

             11575       12015       12363       12455       12536  \
fecha   26/01/2022  27/01/2022  27/12/2021  28/01/2022  28/02/2022
Tinajo           2           5           4           1           1

             12807       13169       13519       13592       13773
fecha   28/12/2021  29/12/2021  30/12/2021  31/01/2022  31/12/2021
Tinajo           4          10          12           1           2

[2 rows x 66 columns]
Suma columnas:  (58, 5151)
              58          149         234         271         292    \
fecha    01/01/2022  01/02/2022  01/03/2022  01/05/2021  01/06/2021
Tuineje          10           6           2           1           5

              320         355         374         514         537    ...  \
fecha    01/07/2021  01/08/2021  01/09/2021  02/01/2022  02/02/2021  ...
Tuineje           4           2           1           8           1  ...

              13170       13230       13309       13357       13393  \
fecha    29/12/2021  30/01/2022  30/06/2021  30/07/2021  30/09/2021
Tuineje           9           1           6           4           1

              13446       13520       13593       13624       13774
fecha    30/11/2021  30/12/2021  31/01/2022  31/03/2021  31/12/2021
Tuineje           1          17          34           1          20

[2 rows x 249 columns]
Suma columnas:  (60, 5400)
Empty DataFrame
Columns: []
Index: [fecha, Valsequillo de Gran Canaria]
Suma columnas:  (62, 5400)
                61          86          152         440         516    \
fecha      01/01/2022  01/02/2021  01/02/2022  01/12/2021  02/01/2022
Valleseco           1           2           1           1           1

                687         990         1290        1480        1662   ...  \
fecha      02/03/2022  03/01/2022  03/08/2021  04/01/2022  04/03/2022  ...
Valleseco           1           4           1           1           1  ...

                12072       12399       12459       12540       12739  \
fecha      27/02/2022  28/01/2021  28/01/2022  28/02/2022  28/11/2021
Valleseco           1           3           2           1           1

                12812       13094       13174       13524       13596
fecha      28/12/2021  29/11/2021  29/12/2021  30/12/2021  31/01/2022
Valleseco           3           1           4           4           1

[2 rows x 61 columns]
Suma columnas:  (64, 5461)
                        63          155         238         441         519    \
fecha              01/01/2022  01/02/2022  01/03/2022  01/12/2021  02/01/2022
Vega de San Mateo           3           3           5           1           1

                        590         690         831         993         1079   \
fecha              02/02/2022  02/03/2022  02/09/2021  03/01/2022  03/02/2022
Vega de San Mateo           3           6           1           5           1

                   ...       12462       12543       12815       13096  \
fecha              ...  28/01/2022  28/02/2022  28/12/2021  29/11/2021
Vega de San Mateo  ...           2           2          10           1

                        13177       13258       13379       13527       13599  \
fecha              29/12/2021  30/03/2021  30/08/2021  30/12/2021  31/01/2022
Vega de San Mateo          18           1           1          10           3

                        13779
fecha              31/12/2021
Vega de San Mateo          13

[2 rows x 92 columns]
Suma columnas:  (66, 5553)
            64          89          157         240         273         402    \
fecha  01/01/2022  01/02/2021  01/02/2022  01/03/2022  01/05/2021  01/11/2021
Yaiza          29           2           4           3           1           1

            442         521         540         591    ...       13232  \
fecha  01/12/2021  02/01/2022  02/02/2021  02/02/2022  ...  30/01/2022
Yaiza           1          39           1           4  ...           2

            13285       13360       13395       13530       13540       13600  \
fecha  30/05/2021  30/07/2021  30/09/2021  30/12/2021  31/01/2021  31/01/2022
Yaiza           1           2           2          28           1           6

            13672       13694       13782
fecha  31/07/2021  31/08/2021  31/12/2021
Yaiza           1           1          29

[2 rows x 182 columns]
Suma columnas:  (68, 5735)
            0           11          65          90          158         185    \
fecha  01/01/2021  01/01/2022  01/02/2021  01/02/2022  01/03/2021  01/03/2022
Adeje           1           7           6          19           1          20

            241         259         274         295    ...       13380  \
fecha  01/04/2021  01/05/2021  01/06/2021  01/07/2021  ...  30/09/2021
Adeje           5           2           3           9  ...           2

            13396       13412       13447       13531       13541       13625  \
fecha  30/10/2021  30/11/2021  30/12/2021  31/01/2021  31/01/2022  31/05/2021
Adeje           2           2          68           1          20           1

            13638       13673       13711
fecha  31/07/2021  31/08/2021  31/12/2021
Adeje          17           1          56

[2 rows x 413 columns]
Suma columnas:  (70, 6148)
            187         622         1408        2795        3277        3486   \
fecha  01/03/2022  02/03/2022  04/01/2022  07/02/2022  08/02/2022  08/07/2021
Agulo           2           1           6           1           1           1

            4340        4567        4664        4851   ...       10359  \
fecha  10/03/2022  10/11/2021  11/01/2022  11/03/2022  ...  23/07/2021
Agulo           3           1           2           1  ...           1

            10500       10968       11157       12299       12478       12742  \
fecha  23/12/2021  24/12/2021  25/02/2022  27/12/2021  28/02/2022  28/12/2021
Agulo           1           1           4           1           2           4

            13100       13449       13713
fecha  29/12/2021  30/12/2021  31/12/2021
Agulo           3           3           1

[2 rows x 31 columns]
Suma columnas:  (72, 6179)
              189         624         926         1112        1410   \
fecha    01/03/2022  02/03/2022  03/01/2022  03/03/2022  04/01/2022
Alajeró           3           6           4           3           8

              1516        1598        1893        1991        2047   ...  \
fecha    04/02/2022  04/03/2022  05/01/2022  05/02/2022  05/03/2022  ...
Alajeró           1           6           1           1           4  ...

              12260       12301       12404       12480       12846  \
fecha    27/11/2021  27/12/2021  28/01/2022  28/02/2022  29/01/2022
Alajeró           1           3           1           2           2

              13102       13198       13313       13451       13544
fecha    29/12/2021  30/01/2022  30/07/2021  30/12/2021  31/01/2022
Alajeró           2           2           2           3           1

[2 rows x 87 columns]
Suma columnas:  (74, 6266)
            13          93          159         296         405         625    \
fecha  01/01/2022  01/02/2022  01/03/2021  01/07/2021  01/12/2021  02/03/2022
Arafo           1           2           1           1           1           7

            927         1082        1197        1411   ...       12481  \
fecha  03/01/2022  03/03/2021  03/05/2021  04/01/2022  ...  28/02/2022
Arafo           2           1           1           3  ...           1

            12561       12744       12940       12972       13103       13260  \
fecha  28/04/2021  28/12/2021  29/06/2021  29/07/2021  29/12/2021  30/04/2021
Arafo           2           1           1           1           1           1

            13314       13414       13452
fecha  30/07/2021  30/11/2021  30/12/2021
Arafo           1           1           5

[2 rows x 77 columns]
Suma columnas:  (76, 6343)
            14          94          190         376         543         928    \
fecha  01/01/2022  01/02/2022  01/03/2022  01/10/2021  02/02/2022  03/01/2022
Arico           8           1           3           1           3           5

            1022        1113        1246        1412   ...       12482  \
fecha  03/02/2022  03/03/2022  03/08/2021  04/01/2022  ...  28/02/2022
Arico           2           3           2          16  ...           4

            12621       12745       12973       13104       13261       13315  \
fecha  28/07/2021  28/12/2021  29/07/2021  29/12/2021  30/04/2021  30/07/2021
Arico           2          12           1          10           2           7

            13453       13546       13715
fecha  30/12/2021  31/01/2022  31/12/2021
Arico          16           4           9

[2 rows x 121 columns]
Suma columnas:  (78, 6464)
            15          95          191         242         276         297    \
fecha  01/01/2022  01/02/2022  01/03/2022  01/04/2021  01/06/2021  01/07/2021
Arona          18          19           7           3           1          19

            325         359         377         391    ...       13415  \
fecha  01/08/2021  01/09/2021  01/10/2021  01/11/2021  ...  30/11/2021
Arona          14           6          11           5  ...          10

            13454       13532       13547       13602       13626       13639  \
fecha  30/12/2021  31/01/2021  31/01/2022  31/03/2021  31/05/2021  31/07/2021
Arona         108           1          14           5           1          14

            13674       13695       13716
fecha  31/08/2021  31/10/2021  31/12/2021
Arona           1           4          43

[2 rows x 400 columns]
Suma columnas:  (80, 6864)
                 98          548         1250        1416        1742   \
fecha       01/02/2022  02/02/2022  03/08/2021  04/01/2022  04/08/2021
Barlovento           1           1           3           2           1

                 2425        2572        2879        5662        6420   ...  \
fecha       06/03/2021  06/08/2021  07/03/2022  13/01/2022  14/09/2021  ...
Barlovento           1           1           1           1           1  ...

                 10509       10935       11441       12307       12749  \
fecha       23/12/2021  24/11/2021  25/12/2021  27/12/2021  28/12/2021
Barlovento           1           5           1           5           4

                 13109       13318       13458       13605       13719
fecha       29/12/2021  30/07/2021  30/12/2021  31/03/2021  31/12/2021
Barlovento           3           1           4           1           5

[2 rows x 24 columns]

Suma columnas:  (82, 6888)
                 18          99          194         327         393    \
fecha       01/01/2022  01/02/2022  01/03/2022  01/08/2021  01/11/2021
Breña Alta          16          66          47           1           1

                 408         447         470         549         629    ...  \
fecha       01/12/2021  02/01/2021  02/01/2022  02/02/2022  02/03/2022  ...
Breña Alta           3           1         123          86          43  ...

                 12849       13110       13201       13291       13319  \
fecha       29/01/2022  29/12/2021  30/01/2022  30/06/2021  30/07/2021
Breña Alta          71          51           4           1           1

                 13400       13459       13551       13698       13720
fecha       30/10/2021  30/12/2021  31/01/2022  31/10/2021  31/12/2021
Breña Alta           2          63         188           5         137

[2 rows x 179 columns]
Suma columnas:  (84, 7067)
                 19          195         278         409         471    \
fecha       01/01/2022  01/03/2022  01/06/2021  01/12/2021  02/01/2022
Breña Baja           1           3           1           2          10

                 630         875         1119        1251        1354   ...  \
fecha       02/03/2022  02/12/2021  03/03/2022  03/08/2021  03/12/2021  ...
Breña Baja           7           1           3           2           1  ...

                 12309       12375       12487       12751       12906  \
fecha       27/12/2021  28/01/2021  28/02/2022  28/12/2021  29/04/2021
Breña Baja           3           1           1           5           1

                 13111       13401       13417       13460       13721
fecha       29/12/2021  30/10/2021  30/11/2021  30/12/2021  31/12/2021
Breña Baja           4           1           9           7           1

[2 rows x 74 columns]
Suma columnas:  (86, 7141)
                           100         196         631         771    \
fecha                 01/02/2022  01/03/2022  02/03/2022  02/08/2021
Buenavista del Norte           2           3           1           1

                           933         1120        1419        1607   \
fecha                 03/01/2022  03/03/2022  04/01/2022  04/03/2022
Buenavista del Norte           4           3           2           9

                           2714        2882   ...       12310       12410  \
fecha                 07/01/2022  07/03/2022  ...  27/12/2021  28/01/2022
Buenavista del Norte           6           4  ...           6           1

                           12488       12752       13112       13320  \
fecha                 28/02/2022  28/12/2021  29/12/2021  30/07/2021
Buenavista del Norte           2           8           5           3

                           13461       13552       13641       13722
fecha                 30/12/2021  31/01/2022  31/07/2021  31/12/2021
Buenavista del Norte           2           1           1           1

[2 rows x 57 columns]
Suma columnas:  (88, 7198)
                 20          68          101         299         328    \
fecha       01/01/2022  01/02/2021  01/02/2022  01/07/2021  01/08/2021
Candelaria           2           1           7           2           4

                 361         472         632         741         772    ...  \
fecha       01/09/2021  02/01/2022  02/03/2022  02/07/2021  02/08/2021  ...
Candelaria           1           4          14           2           4  ...

                 13237       13264       13292       13321       13365  \
fecha       30/03/2021  30/04/2021  30/06/2021  30/07/2021  30/08/2021
Candelaria           1           1           2           8           1

                 13462       13553       13606       13676       13723
fecha       30/12/2021  31/01/2022  31/03/2021  31/08/2021  31/12/2021
Candelaria          55           3           1           1          13

[2 rows x 213 columns]
Suma columnas:  (90, 7411)
             106         301         413         745         878    \
fecha   01/02/2022  01/07/2021  01/12/2021  02/07/2021  02/12/2021
Fasnia           1           1           1           1           1

             939         1127        1426        1907        2720   ...  \
fecha   03/01/2022  03/03/2022  04/01/2022  05/01/2022  07/01/2022  ...
Fasnia           6           1           8           4           3  ...

             11534       11777       11974       12317       12492  \
fecha   26/01/2022  26/08/2021  27/01/2022  27/12/2021  28/02/2022
Fasnia           1           1           2           5           2

             12759       13119       13185       13323       13468
fecha   28/12/2021  29/12/2021  30/01/2021  30/07/2021  30/12/2021
Fasnia           8          12           1           1           8

[2 rows x 67 columns]
Suma columnas:  (92, 7478)
               23          108         478         552         639    \
fecha     01/01/2022  01/02/2022  02/01/2022  02/02/2022  02/03/2022
Frontera           1           7           2           2           2

               941         1033        1129        1387        1428   ...  \
fecha     03/01/2022  03/02/2022  03/03/2022  04/01/2021  04/01/2022  ...
Frontera           5           6           8           1           5  ...

               12416       12493       12566       12853       13121  \
fecha     28/01/2022  28/02/2022  28/04/2021  29/01/2022  29/12/2021
Frontera           3           1           1           6           2

               13204       13384       13555       13644       13729
fecha     30/01/2022  30/09/2021  31/01/2022  31/07/2021  31/12/2021
Frontera           5           1           2           1           4

[2 rows x 79 columns]
Suma columnas:  (94, 7557)
Empty DataFrame
Columns: []
Index: [fecha, Fuencaliente de La Palma]
Suma columnas:  (96, 7557)
                24          109         200         943         1131   \
fecha      01/01/2022  01/02/2022  01/03/2022  03/01/2022  03/03/2022
Garachico           1           2           1           5           2

                1616        1910        2723        2891        3501   ...  \
fecha      04/03/2022  05/01/2022  07/01/2022  07/03/2022  08/07/2021  ...
Garachico           1           1           2           2           1  ...

                11175       11537       11590       12320       12495  \
fecha      25/02/2022  26/01/2022  26/02/2021  27/12/2021  28/02/2022
Garachico           2           1           1           1           3

                12627       12762       13123       13471       13731
fecha      28/07/2021  28/12/2021  29/12/2021  30/12/2021  31/12/2021
Garachico           1           4           1           5           1

[2 rows x 45 columns]
Suma columnas:  (98, 7602)
              1911        3375        3851        5027        5361   \
fecha    05/01/2022  08/03/2022  09/03/2022  11/08/2021  12/03/2022
Garafía           1           1           3           1           1

              5468        5569        5676        5813        6196   \
fecha    12/07/2021  12/11/2021  13/01/2022  13/03/2022  14/02/2021
Garafía           2           2           1           1           3

              7471        8172        10068       10154       10522  \
fecha    17/01/2022  18/08/2021  22/12/2021  23/01/2022  23/12/2021
Garafía           1           2           1           2           1

              10829       10869       13608
fecha    24/07/2021  24/08/2021  31/03/2021
Garafía           1           1           1
Suma columnas:  (100, 7620)
                          3           25          69          110    \
fecha                01/01/2021  01/01/2022  01/02/2021  01/02/2022
Granadilla de Abona           3          22           2          10

                          164         201         245         261    \
fecha                01/03/2021  01/03/2022  01/04/2021  01/05/2021
Granadilla de Abona           2           6           6           2

                          280         303    ...       13266       13294  \
fecha                01/06/2021  01/07/2021  ...  30/04/2021  30/06/2021
Granadilla de Abona           3          13  ...           2          18

                          13324       13366       13420       13472  \
fecha                30/07/2021  30/08/2021  30/11/2021  30/12/2021
Granadilla de Abona          41           3           9          71

                          13556       13628       13645       13732
fecha                31/01/2022  31/05/2021  31/07/2021  31/12/2021
Granadilla de Abona          11           1          40          52

[2 rows x 372 columns]

Suma columnas:  (102, 7992)
                 167         209         382         486         650    \
fecha       01/03/2021  01/03/2022  01/10/2021  02/01/2022  02/03/2022
La Guancha           2           2           1           1           3

                 723         780         852         953         1042   ...  \
fecha       02/06/2021  02/08/2021  02/11/2021  03/01/2022  03/02/2022  ...
La Guancha           1           2           1          15           1  ...

                 12949       12986       13132       13212       13295  \
fecha       29/06/2021  29/07/2021  29/12/2021  30/01/2022  30/06/2021
La Guancha           1           2          15           1           1

                 13330       13481       13563       13651       13739
fecha       30/07/2021  30/12/2021  31/01/2022  31/07/2021  31/12/2021
La Guancha           2           9           3           1          10

[2 rows x 117 columns]
Suma columnas:  (104, 8109)
                    26          111         165         202         246    \
fecha          01/01/2022  01/02/2022  01/03/2021  01/03/2022  01/04/2021
Guía de Isora          20          10           1          14           2

                    262         281         332         381         415    \
fecha          01/05/2021  01/06/2021  01/08/2021  01/10/2021  01/12/2021
Guía de Isora           1           3           7           1           4

               ...       13125       13206       13267       13325  \
fecha          ...  29/12/2021  30/01/2022  30/04/2021  30/07/2021
Guía de Isora  ...          40           4           1          15

                    13403       13421       13473       13557       13646  \
fecha          30/10/2021  30/11/2021  30/12/2021  31/01/2022  31/07/2021
Guía de Isora           1           2          32          16           2

                    13733
fecha          31/12/2021
Guía de Isora          13

[2 rows x 254 columns]
Suma columnas:  (106, 8363)
             28          113         204         282         304    \
fecha   01/01/2022  01/02/2022  01/03/2022  01/06/2021  01/07/2021
Güímar          25           3           4           1           1

             333         482         556         644         697    ...  \
fecha   01/08/2021  02/01/2022  02/02/2022  02/03/2022  02/04/2021  ...
Güímar           2          10           2          10           1  ...

             13208       13240       13268       13326       13367  \
fecha   30/01/2022  30/03/2021  30/04/2021  30/07/2021  30/08/2021
Güímar           1           1           2          11           1

             13475       13559       13648       13699       13735
fecha   30/12/2021  31/01/2022  31/07/2021  31/10/2021  31/12/2021
Güímar          42           7           2           1          44

[2 rows x 217 columns]
Suma columnas:  (108, 8580)
               114         205         557         646         949    \
fecha     01/02/2022  01/03/2022  02/02/2022  02/03/2022  03/01/2022
Hermigua           1           3           1           3           1

               1038        1136        1258        1435        1622   ...  \
fecha     03/02/2022  03/03/2022  03/08/2021  04/01/2022  04/03/2022  ...
Hermigua           1           5           2           9           5  ...

               11617       11817       11885       12048       12326  \
fecha     26/02/2022  26/10/2021  26/12/2021  27/02/2022  27/12/2021
Hermigua           6           1           1           6          13

               12422       12500       12768       13327       13477
fecha     28/01/2022  28/02/2022  28/12/2021  30/07/2021  30/12/2021
Hermigua           1           1           1           1           1

[2 rows x 65 columns]
Suma columnas:  (110, 8645)
Empty DataFrame
Columns: []
Index: [fecha, Icod de los Vinos]
Suma columnas:  (112, 8645)
Empty DataFrame
Columns: []
Index: [fecha, San Cristóbal de La Laguna]
Suma columnas:  (114, 8645)
                            37          124         173         215    \
fecha                  01/01/2022  01/02/2022  01/03/2021  01/03/2022
Los Llanos de Aridane           1           2           3           1

                            251         341         423         492    \
fecha                  01/04/2021  01/08/2021  01/12/2021  02/01/2022
Los Llanos de Aridane           2           2           2          18

                            605         657    ...       12992       13078  \
fecha                  02/03/2021  02/03/2022  ...  29/07/2021  29/11/2021
Los Llanos de Aridane           1           8  ...           7           1

                            13139       13246       13337       13429  \
fecha                  29/12/2021  30/03/2021  30/07/2021  30/11/2021
Los Llanos de Aridane          60           1           1           4

                            13488       13613       13656       13745
fecha                  30/12/2021  31/03/2021  31/07/2021  31/12/2021
Los Llanos de Aridane          76           3           4          34

[2 rows x 182 columns]
Suma columnas:  (116, 8827)
                             119         419         652         725    \
fecha                   01/02/2022  01/12/2021  02/03/2022  02/06/2021
La Matanza de Acentejo           5           1           6           1

                             818         955         1044        1142   \
fecha                   02/09/2021  03/01/2022  03/02/2022  03/03/2022
La Matanza de Acentejo           1          29           6          11

                             1441        1628   ...       12427       12505  \
fecha                   04/01/2022  04/03/2022  ...  28/01/2022  28/02/2022
La Matanza de Acentejo          23           5  ...           3           7

                             12605       12774       12951       13134  \
fecha                   28/06/2021  28/12/2021  29/06/2021  29/12/2021
La Matanza de Acentejo           2          28           1          18

                             13297       13332       13483       13565
fecha                   30/06/2021  30/07/2021  30/12/2021  31/01/2022
La Matanza de Acentejo           2           2          19           5

[2 rows x 109 columns]
Suma columnas:  (118, 8936)
                 34          121         170         212         264    \
fecha       01/01/2022  01/02/2022  01/03/2021  01/03/2022  01/05/2021
La Orotava           9          16           4           2           1

                 284         308         338         385         489    ...  \
fecha       01/06/2021  01/07/2021  01/08/2021  01/10/2021  02/01/2022  ...
La Orotava           1           1           5           1          16  ...

                 13136       13215       13244       13299       13334  \
fecha       29/12/2021  30/01/2022  30/03/2021  30/06/2021  30/07/2021
La Orotava         116           4           2           1          13

                 13427       13485       13567       13654       13742
fecha       30/11/2021  30/12/2021  31/01/2022  31/07/2021  31/12/2021
La Orotava           3         124           8           4          46

[2 rows x 278 columns]
Suma columnas:  (120, 9214)
              102         197         244         329         410    \
fecha    01/02/2022  01/03/2022  01/04/2021  01/08/2021  01/12/2021
El Paso           1           1           1           1           2

              473         633         773         935         1122   ...  \
fecha    02/01/2022  02/03/2022  02/08/2021  03/01/2022  03/03/2022  ...
El Paso           5           1           3           1           3  ...

              12312       12625       12754       12850       12943  \
fecha    27/12/2021  28/07/2021  28/12/2021  29/01/2022  29/06/2021
El Paso           3           1           5           1           1

              13114       13265       13418       13463       13724
fecha    29/12/2021  30/04/2021  30/11/2021  30/12/2021  31/12/2021
El Paso           2           1           2          16          10

[2 rows x 72 columns]
Suma columnas:  (122, 9286)
Empty DataFrame
Columns: []
Index: [fecha, Puerto de la Cruz]
Suma columnas:  (124, 9286)
                 1453        2746        3061        3549        3873   \
fecha       04/01/2022  07/01/2022  07/08/2021  08/08/2021  09/03/2022
Puntagorda           1           1           2           2           1

                 4196        4382        5699        6159        6401   ...  \
fecha       10/01/2022  10/03/2022  13/01/2022  14/01/2022  14/08/2021  ...
Puntagorda           1           2           1           4           1  ...

                 8820        9173        9269        10092       10546  \
fecha       20/01/2022  20/12/2021  21/01/2022  22/12/2021  23/12/2021
Puntagorda           2           7           2           1           1

                 11902       11998       13146       13495       13752
fecha       26/12/2021  27/01/2022  29/12/2021  30/12/2021  31/12/2021
Puntagorda           1           1           2           1           2

[2 rows x 24 columns]

Suma columnas:  (126, 9310)
                 77          1009        1454        2915        4119   \
fecha       01/02/2021  03/02/2021  04/01/2022  07/03/2022  09/12/2021
Puntallana           1           1           1           1           1

                 6063        6367        6595        6820        7534   ...  \
fecha       13/12/2021  14/07/2021  15/01/2022  15/07/2021  17/02/2021  ...
Puntallana           4           1           1           1           1  ...

                 10093       10392       10716       11001       11903  \
fecha       22/12/2021  23/07/2021  24/02/2022  24/12/2021  26/12/2021
Puntallana           3           4           1           1           1

                 12033       12280       12610       13147       13496
fecha       27/02/2021  27/11/2021  28/06/2021  29/12/2021  30/12/2021
Puntallana           2           1           1           3           2

[2 rows x 23 columns]
Suma columnas:  (128, 9333)
                   38          125         174         216         266    \
fecha         01/01/2022  01/02/2022  01/03/2021  01/03/2022  01/05/2021
Los Realejos          15           8           1          22           2

                   286         310         367         424         455    ...  \
fecha         01/06/2021  01/07/2021  01/09/2021  01/12/2021  02/01/2021  ...
Los Realejos           1           4           4           1           1  ...

                   13247       13301       13338       13373       13430  \
fecha         30/03/2021  30/06/2021  30/07/2021  30/08/2021  30/11/2021
Los Realejos           3           2          10           1           2

                   13489       13570       13631       13657       13746
fecha         30/12/2021  31/01/2022  31/05/2021  31/07/2021  31/12/2021
Los Realejos          60           9           1           6          31

[2 rows x 283 columns]
Suma columnas:  (130, 9616)
                 2           21          104         162         279    \
fecha       01/01/2021  01/01/2022  01/02/2022  01/03/2021  01/06/2021
El Rosario           2           1           3           1           1

                 300         379         411         448         475    ...  \
fecha       01/07/2021  01/10/2021  01/12/2021  02/01/2021  02/01/2022  ...
El Rosario           1           1           1           1           3  ...

                 13184       13238       13293       13322       13383  \
fecha       30/01/2021  30/03/2021  30/06/2021  30/07/2021  30/09/2021
El Rosario           1           1           2           2           1

                 13465       13607       13642       13677       13726
fecha       30/12/2021  31/03/2021  31/07/2021  31/08/2021  31/12/2021
El Rosario          17           1           1           1           3

[2 rows x 178 columns]
Suma columnas:  (132, 9794)
                          222         429         572         665    \
fecha                01/03/2022  01/12/2021  02/02/2022  02/03/2022
San Andrés y Sauces           1           6           1           6

                          895         1456        1503        1640   \
fecha                02/12/2021  04/01/2022  04/02/2021  04/03/2022
San Andrés y Sauces           2           2           1           3

                          1823        2496   ...       12439       12518  \
fecha                04/11/2021  06/04/2021  ...  28/01/2022  28/02/2022
San Andrés y Sauces           3           1  ...           1           4

                          12787       13084       13149       13436  \
fecha                28/12/2021  29/11/2021  29/12/2021  30/11/2021
San Andrés y Sauces           1           1           4           4

                          13498       13577       13686       13754
fecha                30/12/2021  31/01/2022  31/08/2021  31/12/2021
San Andrés y Sauces           6           1           6           1

[2 rows x 64 columns]
Suma columnas:  (134, 9858)
Empty DataFrame
Columns: []
Index: [fecha, San Juan de la Rambla]
Suma columnas:  (136, 9858)
                          46          134         314         348    \
fecha                01/01/2022  01/02/2022  01/07/2021  01/08/2021
San Miguel de Abona           3           7           2           3

                          431         501         612         668    \
fecha                01/12/2021  02/01/2022  02/03/2021  02/03/2022
San Miguel de Abona           5           3           1          15

                          758         862    ...       13253       13305  \
fecha                02/07/2021  02/11/2021  ...  30/03/2021  30/06/2021
San Miguel de Abona           3           1  ...           3           1

                          13344       13390       13439       13501  \
fecha                30/07/2021  30/09/2021  30/11/2021  30/12/2021
San Miguel de Abona           5           1           5          21

                          13579       13616       13663       13757
fecha                31/01/2022  31/03/2021  31/07/2021  31/12/2021
San Miguel de Abona           2           2           1           6

[2 rows x 182 columns]
Suma columnas:  (138, 10040)
                                 47          135         224         398    \
fecha                       01/01/2022  01/02/2022  01/03/2022  01/11/2021
San Sebastián de La Gomera          10           3           1           1

                                 432         458         502         575    \
fecha                       01/12/2021  02/01/2021  02/01/2022  02/02/2022
San Sebastián de La Gomera           3           1          11           4

                                 613         669    ...       13223  \
fecha                       02/03/2021  02/03/2022  ...  30/01/2022
San Sebastián de La Gomera           1          15  ...           1

                                 13345       13376       13408       13502  \
fecha                       30/07/2021  30/08/2021  30/10/2021  30/12/2021
San Sebastián de La Gomera           1           1           3          14

                                 13580       13617       13688       13706  \
fecha                       31/01/2022  31/03/2021  31/08/2021  31/10/2021
San Sebastián de La Gomera           6           2           3           1

                                 13758
fecha                       31/12/2021
San Sebastián de La Gomera          20

[2 rows x 165 columns]
Suma columnas:  (140, 10205)
                             180         504         577         672    \
fecha                   01/03/2021  02/01/2022  02/02/2022  02/03/2022
Santa Cruz de La Palma           1          11           1          19

                             795         900         1100        1160   \
fecha                   02/08/2021  02/12/2021  03/03/2021  03/03/2022
Santa Cruz de La Palma           2           7           3          20

                             1277        1322   ...       12734       12794  \
fecha                   03/08/2021  03/10/2021  ...  28/11/2021  28/12/2021
Santa Cruz de La Palma           3           1  ...           3          12

                             12936       13003       13156       13348  \
fecha                   29/05/2021  29/07/2021  29/12/2021  30/07/2021
Santa Cruz de La Palma           2           1          22           4

                             13505       13618       13664       13760
fecha                   30/12/2021  31/03/2021  31/07/2021  31/12/2021
Santa Cruz de La Palma          26           1           1          17

[2 rows x 145 columns]
Suma columnas:  (142, 10350)
                             8           49          81          138    \
fecha                   01/01/2021  01/01/2022  01/02/2021  01/02/2022
Santa Cruz de Tenerife          39         430          29         167

                             181         225         256         269    \
fecha                   01/03/2021  01/03/2022  01/04/2021  01/05/2021
Santa Cruz de Tenerife          40         115          44          32

                             290         315    ...       13440       13506  \
fecha                   01/06/2021  01/07/2021  ...  30/11/2021  30/12/2021
Santa Cruz de Tenerife          43         102  ...          55        1041

                             13539       13582       13619       13634  \
fecha                   31/01/2021  31/01/2022  31/03/2021  31/05/2021
Santa Cruz de Tenerife          16         170          67          25

                             13665       13689       13707       13761
fecha                   31/07/2021  31/08/2021  31/10/2021  31/12/2021
Santa Cruz de Tenerife         138          37           9         717

[2 rows x 437 columns]

Suma columnas:  (144, 10787)
                   141         317         435         535         676    \
fecha         01/02/2022  01/07/2021  01/12/2021  02/02/2021  02/03/2022
Santa Úrsula           5           1           3           1           8

                   760         798         828         904         977    ...  \
fecha         02/07/2021  02/08/2021  02/09/2021  02/12/2021  03/01/2022  ...
Santa Úrsula           1           7           1           1          24  ...

                   12838       12920       13007       13160       13274  \
fecha         29/01/2021  29/04/2021  29/07/2021  29/12/2021  30/04/2021
Santa Úrsula           2           1           2          48           1

                   13352       13509       13584       13691       13764
fecha         30/07/2021  30/12/2021  31/01/2022  31/08/2021  31/12/2021
Santa Úrsula           7          35           3           3           1

[2 rows x 135 columns]
Suma columnas:  (146, 10922)
                         52          142         228         291    \
fecha               01/01/2022  01/02/2022  01/03/2022  01/06/2021
Santiago del Teide           1           2           4           1

                         436         507         677         761    \
fecha               01/12/2021  02/01/2022  02/03/2022  02/07/2021
Santiago del Teide           2           1           9           1

                         799         829    ...       12711       12799  \
fecha               02/08/2021  02/09/2021  ...  28/10/2021  28/12/2021
Santiago del Teide           6           1  ...           1          12

                         12966       13008       13161       13353  \
fecha               29/06/2021  29/07/2021  29/12/2021  30/07/2021
Santiago del Teide           1           1           8           8

                         13443       13510       13585       13668
fecha               30/11/2021  30/12/2021  31/01/2022  31/07/2021
Santiago del Teide           1           4           2           1

[2 rows x 146 columns]
Suma columnas:  (148, 11068)
                105         412         476         598         636    \
fecha      01/02/2022  01/12/2021  02/01/2022  02/03/2021  02/03/2022
El Sauzal           2           4           1           1           8

                720         744         937         1031        1125   ...  \
fecha      02/06/2021  02/07/2021  03/01/2022  03/02/2022  03/03/2022  ...
El Sauzal           1           1          12           2           3  ...

                11879       12152       12315       12414       12491  \
fecha      26/12/2021  27/07/2021  27/12/2021  28/01/2022  28/02/2022
El Sauzal           1           1           6           2           2

                12757       12852       12979       13117       13466
fecha      28/12/2021  29/01/2022  29/07/2021  29/12/2021  30/12/2021
El Sauzal          12           1           2           6           8

[2 rows x 112 columns]
Suma columnas:  (150, 11180)
                39          126         217         342         566    \
fecha      01/01/2022  01/02/2022  01/03/2022  01/08/2021  02/02/2022
Los Silos           2           1           4           1           1

                659         962         1051        1148        1300   ...  \
fecha      02/03/2022  03/01/2022  03/02/2022  03/03/2022  03/09/2021  ...
Los Silos           8           5           3           3           1  ...

                12867       12896       13028       13141       13218  \
fecha      29/01/2022  29/03/2021  29/08/2021  29/12/2021  30/01/2022
Los Silos           1           2           1           7           1

                13248       13431       13490       13571       13747
fecha      30/03/2021  30/11/2021  30/12/2021  31/01/2022  31/12/2021
Los Silos           1           1          14           2           5

[2 rows x 99 columns]
Suma columnas:  (152, 11279)
                53          143         229         318         352    \
fecha      01/01/2022  01/02/2022  01/03/2022  01/07/2021  01/08/2021
Tacoronte          11           4           2           2           3

                508         581         616         678         734    ...  \
fecha      02/01/2022  02/02/2022  02/03/2021  02/03/2022  02/06/2021  ...
Tacoronte          14           4           3          19           1  ...

                13088       13162       13227       13275       13307  \
fecha      29/11/2021  29/12/2021  30/01/2022  30/04/2021  30/06/2021
Tacoronte           1          69           6           1           1

                13354       13511       13586       13669       13765
fecha      30/07/2021  30/12/2021  31/01/2022  31/07/2021  31/12/2021
Tacoronte           4          60           6           2          31

[2 rows x 225 columns]
Suma columnas:  (154, 11504)
                163         199         330         637         938    \
fecha      01/03/2021  01/03/2022  01/08/2021  02/03/2022  03/01/2022
El Tanque           2           2           1           2           6

                1126        1425        1613        1703        1864   ...  \
fecha      03/03/2022  04/01/2022  04/03/2022  04/06/2021  05/01/2021  ...
El Tanque           1           4           2           2           1  ...

                11172       11533       12097       12118       12316  \
fecha      25/02/2022  26/01/2022  27/04/2021  27/05/2021  27/12/2021
El Tanque           1           1           1           1           4

                12758       12824       13118       13467       13727
fecha      28/12/2021  29/01/2021  29/12/2021  30/12/2021  31/12/2021
El Tanque           7           1           3           4           1

[2 rows x 65 columns]
Suma columnas:  (156, 11569)
                460         509         617         679         801    \
fecha      02/01/2021  02/01/2022  02/03/2021  02/03/2022  02/08/2021
Tazacorte           2           3           3           1           1

                1167        1376        1654        1856        1885   ...  \
fecha      03/03/2022  03/12/2021  04/03/2022  04/12/2021  05/01/2021  ...
Tazacorte           4           1           2           2           1  ...

                11604       11764       11860       11918       12531  \
fecha      26/02/2021  26/07/2021  26/11/2021  26/12/2021  28/02/2022
Tazacorte           2           4           1           2           1

                12801       13163       13512       13621       13766
fecha      28/12/2021  29/12/2021  30/12/2021  31/03/2021  31/12/2021
Tazacorte           1           1           6           5           6

[2 rows x 77 columns]
Suma columnas:  (158, 11646)
               54          144         230         680         802    \
fecha     01/01/2022  01/02/2022  01/03/2022  02/03/2022  02/08/2021
Tegueste           2           3           2           5           2

               906         980         1068        1168        1284   ...  \
fecha     02/12/2021  03/01/2022  03/02/2022  03/03/2022  03/08/2021  ...
Tegueste           1          21           1           4           2  ...

               12802       13010       13089       13164       13256  \
fecha     28/12/2021  29/07/2021  29/11/2021  29/12/2021  30/03/2021
Tegueste          13           1           1          17           2

               13276       13513       13587       13622       13767
fecha     30/04/2021  30/12/2021  31/01/2022  31/03/2021  31/12/2021
Tegueste           1          21           1           3           5

[2 rows x 125 columns]
Suma columnas:  (160, 11771)
               232         354         513         984         1173   \
fecha     01/03/2022  01/08/2021  02/01/2022  03/01/2022  03/03/2022
Tijarafe           1           1           3           4           2

               1287        1474        1777        2080        2124   ...  \
fecha     03/08/2021  04/01/2022  04/08/2021  05/03/2022  05/05/2021  ...
Tijarafe           2           2           1           1           1  ...

               9955        10643       11483       11922       12188  \
fecha     22/07/2021  24/01/2022  25/12/2021  26/12/2021  27/07/2021
Tijarafe           1           1           3          11           1

               12293       12454       12583       13518       13772
fecha     27/11/2021  28/01/2022  28/04/2021  30/12/2021  31/12/2021
Tijarafe           2           1           1           5           5

[2 rows x 43 columns]
Suma columnas:  (162, 11814)
               87          154         237         272         321    \
fecha     01/02/2021  01/02/2022  01/03/2022  01/05/2021  01/07/2021
Valverde           6           3           5           6           4

               518         539         589         619         689    ...  \
fecha     02/01/2022  02/02/2021  02/02/2022  02/03/2021  02/03/2022  ...
Valverde           6           7           7           1          17  ...

               12924       13049       13176       13231       13278  \
fecha     29/04/2021  29/09/2021  29/12/2021  30/01/2022  30/04/2021
Valverde           3           1          31           1           3

               13310       13359       13526       13598       13778
fecha     30/06/2021  30/07/2021  30/12/2021  31/01/2022  31/12/2021
Valverde           6           1          13          17          19

[2 rows x 191 columns]

Suma columnas:  (164, 12005)
                     60          439         587         686         807    \
fecha           01/01/2022  01/12/2021  02/02/2022  02/03/2022  02/08/2021
Valle Gran Rey           2           1           1           3           1

                     988         1075        1177        1382        1478   \
fecha           03/01/2022  03/02/2022  03/03/2022  03/12/2021  04/01/2022
Valle Gran Rey           1           3           8           2           1

                ...       12070       12366       12458       12810  \
fecha           ...  27/02/2022  27/12/2021  28/01/2022  28/12/2021
Valle Gran Rey  ...           3           4           1           5

                     12883       12938       13093       13172       13522  \
fecha           29/01/2022  29/05/2021  29/11/2021  29/12/2021  30/12/2021
Valle Gran Rey           6           1           1           1           2

                     13595
fecha           31/01/2022
Valle Gran Rey           2

[2 rows x 80 columns]
Suma columnas:  (166, 12085)
                   151         375         808         989         1076   \
fecha         01/02/2022  01/09/2021  02/08/2021  03/01/2022  03/02/2022
Vallehermoso           1           1           4           4           2

                   1105        1289        1404        1479        1959   ...  \
fecha         03/03/2021  03/08/2021  04/01/2021  04/01/2022  05/01/2022  ...
Vallehermoso           1           1           1           7          11  ...

                   12191       12367       12539       12664       12811  \
fecha         27/07/2021  27/12/2021  28/02/2022  28/07/2021  28/12/2021
Vallehermoso           2           1           1           1           3

                   13016       13173       13358       13523       13776
fecha         29/07/2021  29/12/2021  30/07/2021  30/12/2021  31/12/2021
Vallehermoso           1           1           1           1           1

[2 rows x 59 columns]
Suma columnas:  (168, 12144)
                              35          122         171         213    \
fecha                    01/01/2022  01/02/2022  01/03/2021  01/03/2022
La Victoria de Acentejo           5           1           1           4

                              339         421         453         490    \
fecha                    01/08/2021  01/12/2021  02/01/2021  02/01/2022
La Victoria de Acentejo           1           1           4           6

                              563         655    ...       12777       12863  \
fecha                    02/02/2022  02/03/2022  ...  28/12/2021  29/01/2022
La Victoria de Acentejo           1           3  ...          33           1

                              12931       12954       12990       13137  \
fecha                    29/05/2021  29/06/2021  29/07/2021  29/12/2021
La Victoria de Acentejo           1           1           5          16

                              13335       13486       13568       13743
fecha                    30/07/2021  30/12/2021  31/01/2022  31/12/2021
La Victoria de Acentejo           4          29           2          38

[2 rows x 173 columns]
Suma columnas:  (170, 12317)
Empty DataFrame
Columns: []
Index: [fecha, Vilaflor de Chasna]
Suma columnas:  (172, 12317)
                    88          156         184         239         322    \
fecha          01/02/2021  01/02/2022  01/03/2021  01/03/2022  01/07/2021
Villa de Mazo           1           1           1           1           1

                    520         691         911         995         1108   \
fecha          02/01/2022  02/03/2022  02/12/2021  03/01/2022  03/03/2021
Villa de Mazo           4           4           1           1           1

               ...       11960       12194       12371       12475  \
fecha          ...  27/01/2021  27/07/2021  27/12/2021  28/02/2021
Villa de Mazo  ...           1           1           1           1

                    12545       12714       12817       13179       13529  \
fecha          28/02/2022  28/10/2021  28/12/2021  29/12/2021  30/12/2021
Villa de Mazo           6           1           2           5           3

                    13781
fecha          31/12/2021
Villa de Mazo           3

[2 rows x 72 columns]
Suma columnas:  (174, 12389)
Empty DataFrame
Columns: []
Index: [fecha, El Pinar de El Hierro]
Suma columnas:  (176, 12389)

In [109]:
pru = pru.replace(np.nan, 0)
print(pru.shape)

(176, 12389)

In [103]:
pru.to_excel('covid_fin.xlsx', index=False, encoding="utf8")

In [114]:
print(pru.info)

<bound method DataFrame.info of                             91          186         464         621    \
fecha                  01/02/2022  01/03/2022  02/01/2022  02/03/2022
Agaete                          6           1           2           1
fecha                         NaN         NaN         NaN         NaN
Agüimes                       NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
...                           ...         ...         ...         ...
Vilaflor de Chasna            NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
Villa de Mazo                 NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
El Pinar de El Hierro         NaN         NaN         NaN         NaN

                            738         833         924         1020   \
fecha                  02/07/2021  02/10/2021  03/01/2022  03/02/2022
Agaete                          1           1          12           2
fecha                         NaN         NaN         NaN         NaN
Agüimes                       NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
...                           ...         ...         ...         ...
Vilaflor de Chasna            NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
Villa de Mazo                 NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
El Pinar de El Hierro         NaN         NaN         NaN         NaN

                            1111        1329   ...       11960       12194  \
fecha                  03/03/2022  03/11/2021  ...         NaN         NaN
Agaete                          3           1  ...         NaN         NaN
fecha                         NaN         NaN  ...         NaN         NaN
Agüimes                       NaN         NaN  ...         NaN         NaN
fecha                         NaN         NaN  ...         NaN         NaN
...                           ...         ...  ...         ...         ...
Vilaflor de Chasna            NaN         NaN  ...         NaN         NaN
fecha                         NaN         NaN  ...  27/01/2021  27/07/2021
Villa de Mazo                 NaN         NaN  ...           1           1
fecha                         NaN         NaN  ...         NaN         NaN
El Pinar de El Hierro         NaN         NaN  ...         NaN         NaN

                            12371       12475       12545       12714  \
fecha                         NaN         NaN         NaN         NaN
Agaete                        NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
Agüimes                       NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
...                           ...         ...         ...         ...
Vilaflor de Chasna            NaN         NaN         NaN         NaN
fecha                  27/12/2021  28/02/2021  28/02/2022  28/10/2021
Villa de Mazo                   1           1           6           1
fecha                         NaN         NaN         NaN         NaN
El Pinar de El Hierro         NaN         NaN         NaN         NaN

                            12817       13179       13529       13781
fecha                         NaN         NaN         NaN         NaN
Agaete                        NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
Agüimes                       NaN         NaN         NaN         NaN
fecha                         NaN         NaN         NaN         NaN
...                           ...         ...         ...         ...
Vilaflor de Chasna            NaN         NaN         NaN         NaN
fecha                  28/12/2021  29/12/2021  30/12/2021  31/12/2021
Villa de Mazo                   2           5           3           3
fecha                         NaN         NaN         NaN         NaN
El Pinar de El Hierro         NaN         NaN         NaN         NaN

[176 rows x 12389 columns]>