In [150]:
import pandas as pd
import numpy as np 

from datetime import datetime

In [68]:
covid = pd.read_csv("data/covid_canarias.csv")
municipios = pd.read_csv("data/municipios.csv")

In [69]:
covid.head()

,fecha_datos,isla,municipio,sexo,grupo_edad,fecha_caso,fecha_fallecido,fecha_curado,estado_caso,identificacion_caso,fallecido,curado,continua_enfermo,provincia
0,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
1,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
2,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,06/01/2022,NaN,17/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
3,14/03/2022,TENERIFE,Adeje,Hombre,50 - 59,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
4,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife

In [72]:
asignacion = covid[covid['identificacion_caso'] == "Asignación"]

In [124]:
asignacion_count = asignacion.groupby(['fecha_caso','municipio']).size().reset_index()

In [105]:
asignacion_count.columns = ['fecha', 'municipio', 'prueba']

In [95]:
asignacion_count = asignacion_count.set_index('fecha')

In [125]:
z = asignacion_count[asignacion_count['municipio'] == 'Agaete']

In [133]:
z = pd.DataFrame(asignacion_count)

In [134]:
print(z)

       fecha_caso            municipio   0
0      01/01/2021                Adeje   1
1      01/01/2021             Arrecife  11
2      01/01/2021           El Rosario   2
3      01/01/2021  Granadilla de Abona   3
4      01/01/2021            La Laguna  21
...           ...                  ...  ..
13778  31/12/2021             Valverde  19
13779  31/12/2021    Vega de San Mateo  13
13780  31/12/2021             Vilaflor   1
13781  31/12/2021        Villa de Mazo   3
13782  31/12/2021                Yaiza  29

[13783 rows x 3 columns]

In [160]:
fechas = asignacion_count['fecha_caso'].unique().tolist()

In [158]:
asignacion_count['fecha_caso'] = pd.to_datetime(asignacion_count['fecha_caso'], format="%d/%m/%Y")

In [162]:
print(asignacion_count['fecha_caso'])

0       2021-01-01
1       2021-01-01
2       2021-01-01
3       2021-01-01
4       2021-01-01
           ...
13778   2021-12-31
13779   2021-12-31
13780   2021-12-31
13781   2021-12-31
13782   2021-12-31
Name: fecha_caso, Length: 13783, dtype: datetime64[ns]

In [169]:
f = asignacion_count.fecha_caso.dt.date.unique().tolist()

In [171]:
print(f.sort())

None

In [22]:
df_municipios = pd.DataFrame(municipios['municipio'])

In [60]:
asignacion_count['municipio'] = asignacion_count['municipio'].to_string()

In [69]:
print(asignacion_count)

       fecha_caso            municipio   0
0      01/01/2021                Adeje   1
1      01/01/2021             Arrecife  11
2      01/01/2021           El Rosario   2
3      01/01/2021  Granadilla de Abona   3
4      01/01/2021            La Laguna  21
...           ...                  ...  ..
13778  31/12/2021             Valverde  19
13779  31/12/2021    Vega de San Mateo  13
13780  31/12/2021             Vilaflor   1
13781  31/12/2021        Villa de Mazo   3
13782  31/12/2021                Yaiza  29

[13783 rows x 3 columns]

In [9]:
asignacion_count.to_excel('covid_fin.xlsx', index=False, encoding="utf8")

In [181]:
pru = pd.DataFrame()
for index, row in df_municipios.iterrows():
    aux = asignacion_count[asignacion_count['municipio'] == row['municipio']]
    aux.columns=['fecha','municipio',row['municipio']]
    aux = aux[['fecha', row['municipio']]]
    aux[row['municipio']] = aux[row['municipio']].astype(int)
    aux = aux.set_index('fecha')
    aux = aux.transpose()
    print(aux)
    #print(aux.dtypes)
    pru = pd.concat([pru, aux], axis = 0)
    print("Suma columnas: ",pru.shape)

fecha   2022-02-01  2022-03-01  2022-01-02  2022-03-02  2021-07-02  \
Agaete           6           1           2           1           1

fecha   2021-10-02  2022-01-03  2022-02-03  2022-03-03  2021-11-03  ...  \
Agaete           1          12           2           3           1  ...

fecha   2021-02-27  2021-09-27  2022-01-28  2022-02-28  2021-12-28  \
Agaete           1           1           5           4           5

fecha   2021-12-29  2021-05-30  2021-12-30  2022-01-31  2021-12-31
Agaete          12           2           4           4           1

[1 rows x 97 columns]
Suma columnas:  (1, 97)
fecha    2022-01-01  2022-02-01  2022-03-01  2021-06-01  2021-08-01  \
Agüimes           3           4           6           1           2

fecha    2021-09-01  2021-12-01  2022-01-02  2022-02-02  2021-03-02  ...  \
Agüimes           1           3           7           6           1  ...

fecha    2021-11-29  2021-12-29  2021-06-30  2021-07-30  2021-08-30  \
Agüimes           2          29           1           4           1

fecha    2021-11-30  2021-12-30  2022-01-31  2021-03-31  2021-12-31
Agüimes           4          16           9           1           5

[1 rows x 189 columns]
Suma columnas:  (2, 207)
fecha    2022-01-02  2022-03-04  2022-01-05  2022-01-06  2021-07-08  \
Antigua           1           1           1           1           1

fecha    2022-01-10  2022-02-10  2022-01-11  2022-03-11  2021-07-11  ...  \
Antigua           1           1           1           1           1  ...

fecha    2021-03-16  2022-01-17  2022-01-18  2022-02-18  2021-11-18  \
Antigua           1           1           4           2           1

fecha    2022-01-23  2021-03-25  2022-01-26  2021-09-28  2022-01-31
Antigua           1           1           1           2           1

[1 rows x 31 columns]
Suma columnas:  (3, 214)
fecha     2021-01-01  2022-01-01  2021-02-01  2022-02-01  2021-03-01  \
Arrecife          11         180          31          44          12

fecha     2022-03-01  2021-04-01  2021-05-01  2021-06-01  2021-07-01  ...  \
Arrecife          35          13           3           5           6  ...

fecha     2021-11-30  2021-12-30  2021-01-31  2022-01-31  2021-03-31  \
Arrecife          23         201          33          48           6

fecha     2021-05-31  2021-07-31  2021-08-31  2021-10-31  2021-12-31
Arrecife           7           5          11           3         183

[1 rows x 434 columns]
Suma columnas:  (4, 434)
fecha     2022-02-02  2022-02-03  2022-03-03  2022-01-05  2022-01-07  \
Artenara           1           1           1           3           5

fecha     2022-02-07  2022-03-07  2022-03-08  2022-02-09  2021-07-09  ...  \
Artenara           2           2           3           1           1  ...

fecha     2022-01-18  2022-01-19  2021-01-20  2021-01-21  2021-08-23  \
Artenara           2           1           1           2           1

fecha     2021-12-23  2022-01-26  2021-12-29  2021-12-30  2022-01-31
Artenara           1           1           1           1           1

[1 rows x 32 columns]
Suma columnas:  (5, 434)
fecha   2022-01-01  2021-02-01  2022-02-01  2021-03-01  2022-03-01  \
Arucas           4           1          11           2           2

fecha   2021-01-02  2022-01-02  2022-02-02  2021-03-02  2022-03-02  ...  \
Arucas           1           5          11           2           7  ...

fecha   2021-12-29  2021-01-30  2021-03-30  2021-06-30  2021-10-30  \
Arucas          15           3           1           2           2

fecha   2021-12-30  2022-01-31  2021-03-31  2021-10-31  2021-12-31
Arucas          14           7           1           1          17

[1 rows x 161 columns]
Suma columnas:  (6, 434)
Empty DataFrame
Columns: []
Index: [Betancuria]
Suma columnas:  (7, 434)
fecha   2022-01-01  2022-02-01  2021-07-01  2022-01-02  2022-02-02  \
Firgas           1           2           1           3           2

fecha   2022-03-02  2021-12-02  2022-01-03  2022-02-03  2021-03-03  ...  \
Firgas           4           1           7           2           1  ...

fecha   2022-01-28  2021-12-28  2021-06-29  2021-10-29  2021-12-29  \
Firgas           3          13           2           1          12

fecha   2021-10-30  2021-11-30  2021-12-30  2021-07-31  2021-12-31
Firgas           1           1           5           1           3

[1 rows x 85 columns]
Suma columnas:  (8, 434)
fecha   2022-01-01  2021-02-01  2022-02-01  2021-03-01  2022-03-01  \
Gáldar          15           1          12           2          16

fecha   2021-09-01  2022-01-02  2021-02-02  2022-02-02  2022-03-02  ...  \
Gáldar           1          11           1          12          11  ...

fecha   2021-07-28  2021-12-28  2022-01-29  2021-07-29  2021-12-29  \
Gáldar           1          15           1           2          22

fecha   2022-01-30  2021-12-30  2022-01-31  2021-07-31  2021-12-31
Gáldar          13          14           7           1          20

[1 rows x 158 columns]
Suma columnas:  (9, 434)
fecha  2022-03-02  2021-05-02  2022-01-03  2021-03-03  2022-01-04  2022-02-04  \
Haría           1           1           2           1           2           1

fecha  2022-03-04  2021-12-04  2022-01-05  2022-01-06  ...  2022-01-25  \
Haría           3           1           4           1  ...           1

fecha  2022-02-25  2021-05-25  2022-01-27  2021-12-27  2022-01-28  2021-12-28  \
Haría           1           1           2           1           1           2

fecha  2021-12-29  2021-11-30  2021-12-30
Haría           3           1           1

[1 rows x 55 columns]
Suma columnas:  (10, 434)
fecha    2022-01-01  2021-02-01  2022-02-01  2022-03-01  2021-08-01  \
Ingenio           1           1           5          13           3

fecha    2021-12-01  2022-01-02  2021-02-02  2022-02-02  2022-03-02  ...  \
Ingenio           1          11           1           2          15  ...

fecha    2022-01-30  2021-07-30  2021-08-30  2021-11-30  2021-12-30  \
Ingenio           1           7           1           3          35

fecha    2022-01-31  2021-03-31  2021-07-31  2021-08-31  2021-12-31
Ingenio           7           1           1           1          15

[1 rows x 222 columns]
Suma columnas:  (11, 434)
fecha  2022-01-01  2022-02-01  2022-03-01  2021-11-01  2021-12-01  2022-01-02  \
Mogán           8           8           9           1           3          10

fecha  2022-02-02  2021-03-02  2022-03-02  2021-08-02  ...  2021-09-29  \
Mogán          14           1          27           6  ...           1

fecha  2021-10-29  2021-11-29  2021-12-29  2021-07-30  2021-11-30  2021-12-30  \
Mogán           1           1          25           9           3          40

fecha  2022-01-31  2021-07-31  2021-12-31
Mogán          14           2          12

[1 rows x 199 columns]
Suma columnas:  (12, 434)
fecha  2022-01-01  2022-02-01  2021-08-01  2022-01-02  2022-02-02  2021-03-02  \
Moya            2           3           1           2           7           1

fecha  2022-03-02  2021-12-02  2022-01-03  2022-02-03  ...  2022-01-28  \
Moya            4           1          12           2  ...           3

fecha  2022-02-28  2021-07-28  2021-12-28  2022-01-29  2021-12-29  2021-12-30  \
Moya            6           1           6           3           9           7

fecha  2022-01-31  2021-08-31  2021-12-31
Moya            5           1           7

[1 rows x 104 columns]
Suma columnas:  (13, 434)
fecha     2021-01-01  2022-01-01  2021-02-01  2022-02-01  2021-03-01  \
La Oliva           1          12           2          24           3

fecha     2022-03-01  2021-04-01  2021-07-01  2021-08-01  2021-09-01  ...  \
La Oliva           1           4           6           5           4  ...

fecha     2021-09-30  2021-11-30  2021-12-30  2021-01-31  2022-01-31  \
La Oliva           1           6          31           2          27

fecha     2021-03-31  2021-07-31  2021-08-31  2021-10-31  2021-12-31
La Oliva           4          11           3           2          36

[1 rows x 350 columns]
Suma columnas:  (14, 436)
fecha   2022-01-01  2021-02-01  2022-02-01  2021-03-01  2022-03-01  \
Pájara          13           1           8           1           3

fecha   2021-05-01  2021-09-01  2021-10-01  2021-12-01  2022-01-02  ...  \
Pájara           1           2           1           2          22  ...

fecha   2021-06-30  2021-07-30  2021-08-30  2021-11-30  2021-12-30  \
Pájara           5          15           1           3          28

fecha   2022-01-31  2021-05-31  2021-07-31  2021-08-31  2021-12-31
Pájara          15           3           3           2          18

[1 rows x 268 columns]

Suma columnas:  (15, 436)
fecha                       2021-01-01  2022-01-01  2021-02-01  2022-02-01  \
Las Palmas de Gran Canaria          62         624         137         452

fecha                       2021-03-01  2022-03-01  2021-04-01  2021-05-01  \
Las Palmas de Gran Canaria          58         316         113          41

fecha                       2021-06-01  2021-07-01  ...  2021-11-30  \
Las Palmas de Gran Canaria          28          73  ...         138

fecha                       2021-12-30  2021-01-31  2022-01-31  2021-03-31  \
Las Palmas de Gran Canaria        1059          98         375          84

fecha                       2021-05-31  2021-07-31  2021-08-31  2021-10-31  \
Las Palmas de Gran Canaria          17         275          57          19

fecha                       2021-12-31
Las Palmas de Gran Canaria         912

[1 rows x 437 columns]
Suma columnas:  (16, 437)
fecha               2022-01-01  2021-02-01  2022-02-01  2021-03-01  \
Puerto del Rosario          47           3          49           5

fecha               2022-03-01  2021-04-01  2021-06-01  2021-07-01  \
Puerto del Rosario          10          12           1          17

fecha               2021-08-01  2021-09-01  ...  2021-10-30  2021-11-30  \
Puerto del Rosario           7           9  ...           5          21

fecha               2021-12-30  2021-01-31  2022-01-31  2021-03-31  \
Puerto del Rosario          50           1          46          15

fecha               2021-07-31  2021-08-31  2021-10-31  2021-12-31
Puerto del Rosario          10           4           1          59

[1 rows x 403 columns]
Suma columnas:  (17, 437)
fecha          2021-02-01  2022-02-01  2021-06-01  2021-08-01  2022-01-02  \
San Bartolomé           1           8           1           1           3

fecha          2022-02-02  2022-03-02  2022-01-03  2021-02-03  2022-02-03  \
San Bartolomé           1           5          25           1           5

fecha          ...  2021-12-27  2022-02-28  2021-12-28  2021-01-29  \
San Bartolomé  ...          10           3          13           2

fecha          2021-04-29  2021-12-29  2021-01-30  2021-11-30  2021-12-30  \
San Bartolomé           1           9           2           1          22

fecha          2021-12-31
San Bartolomé           4

[1 rows x 101 columns]
Suma columnas:  (18, 437)
fecha                      2022-01-01  2021-02-01  2022-02-01  2021-03-01  \
San Bartolomé de Tirajana          41           1          21           2

fecha                      2022-03-01  2021-04-01  2021-06-01  2021-07-01  \
San Bartolomé de Tirajana          29           1           1           2

fecha                      2021-08-01  2021-09-01  ...  2021-10-30  \
San Bartolomé de Tirajana           2           1  ...           5

fecha                      2021-11-30  2021-12-30  2021-01-31  2022-01-31  \
San Bartolomé de Tirajana           6          57           1          25

fecha                      2021-03-31  2021-07-31  2021-08-31  2021-10-31  \
San Bartolomé de Tirajana           4           3           5           1

fecha                      2021-12-31
San Bartolomé de Tirajana          62

[1 rows x 344 columns]
Suma columnas:  (19, 437)
fecha                    2022-01-01  2022-02-01  2022-03-01  2022-01-02  \
La Aldea de San Nicolás           1           7           4           5

fecha                    2022-03-02  2022-01-03  2022-02-03  2022-03-03  \
La Aldea de San Nicolás          12          18           3           3

fecha                    2021-08-03  2022-01-04  ...  2021-05-28  2021-07-28  \
La Aldea de San Nicolás           2          16  ...           1           1

fecha                    2021-11-28  2021-12-28  2021-01-29  2021-12-29  \
La Aldea de San Nicolás           1           6           2           8

fecha                    2022-01-30  2021-12-30  2022-01-31  2021-12-31
La Aldea de San Nicolás           2          10           1           5

[1 rows x 103 columns]
Suma columnas:  (20, 437)
fecha          2022-01-01  2022-02-01  2021-03-01  2021-04-01  2021-08-01  \
Santa Brígida          15           4           1           1           3

fecha          2022-01-02  2021-02-02  2022-02-02  2021-03-02  2022-03-02  \
Santa Brígida          10           1           1           1           7

fecha          ...  2021-12-28  2021-01-29  2021-06-29  2021-07-29  \
Santa Brígida  ...          12           2           2           1

fecha          2021-12-29  2022-01-30  2021-07-30  2021-12-30  2022-01-31  \
Santa Brígida          25           2           4          25           7

fecha          2021-12-31
Santa Brígida           3

[1 rows x 155 columns]
Suma columnas:  (21, 437)
fecha                    2022-01-01  2021-02-01  2022-02-01  2021-03-01  \
Santa Lucía de Tirajana          10           1          23           3

fecha                    2022-03-01  2021-04-01  2021-05-01  2021-07-01  \
Santa Lucía de Tirajana          25           1           1           1

fecha                    2021-08-01  2021-09-01  ...  2021-08-30  2021-09-30  \
Santa Lucía de Tirajana           6           2  ...           2           2

fecha                    2021-11-30  2021-12-30  2022-01-31  2021-03-31  \
Santa Lucía de Tirajana          14          81          35          17

fecha                    2021-05-31  2021-07-31  2021-08-31  2021-12-31
Santa Lucía de Tirajana           1           6           3          20

[1 rows x 319 columns]
Suma columnas:  (22, 437)
Empty DataFrame
Columns: []
Index: [Santa María de Guía de Gran Canaria]
Suma columnas:  (23, 437)
fecha    2021-01-01  2022-01-01  2021-02-01  2022-02-01  2022-01-02  \
Teguise           1          12           1           7          20

fecha    2021-02-02  2022-02-02  2022-03-02  2021-12-02  2022-01-03  ...  \
Teguise           1           8           1           1          49  ...

fecha    2021-12-28  2021-01-29  2022-01-29  2021-07-29  2021-12-29  \
Teguise          33           1           6           1          31

fecha    2022-01-30  2021-12-30  2022-01-31  2021-10-31  2021-12-31
Teguise           4          32           8           1          19

[1 rows x 145 columns]
Suma columnas:  (24, 437)
fecha   2022-03-02  2022-02-03  2022-03-03  2022-02-04  2022-01-05  \
Tejeda           1           1           2           1           1

fecha   2022-01-06  2022-02-07  2022-01-08  2022-01-09  2022-03-09  ...  \
Tejeda           2           7           1           3           1  ...

fecha   2022-02-24  2022-01-25  2021-07-25  2022-02-26  2021-07-26  \
Tejeda           1           1           1           2           1

fecha   2021-12-28  2021-12-29  2021-12-30  2022-01-31  2021-12-31
Tejeda           1           1           1           1           2

[1 rows x 39 columns]
Suma columnas:  (25, 437)
fecha  2022-01-01  2021-02-01  2022-02-01  2021-03-01  2022-03-01  2021-04-01  \
Telde          52           3          30           3          33           2

fecha  2021-07-01  2021-08-01  2021-09-01  2021-10-01  ...  2021-07-30  \
Telde           2          10           2           1  ...          10

fecha  2021-10-30  2021-11-30  2021-12-30  2022-01-31  2021-03-31  2021-07-31  \
Telde           2           6         137          39           1           4

fecha  2021-08-31  2021-10-31  2021-12-31
Telde           2           2          95

[1 rows x 330 columns]
Suma columnas:  (26, 437)
fecha  2022-01-01  2022-02-01  2021-12-01  2022-01-02  2022-02-02  2021-04-02  \
Teror           1           4           1           2           3           1

fecha  2021-06-02  2021-08-02  2021-12-02  2022-01-03  ...  2022-01-29  \
Teror           1           1           3           8  ...           1

fecha  2021-04-29  2021-07-29  2021-12-29  2021-01-30  2021-07-30  2021-11-30  \
Teror           1           1          19           1           2           2

fecha  2021-12-30  2022-01-31  2021-12-31
Teror           6           2           5

[1 rows x 117 columns]

Suma columnas:  (27, 437)
fecha  2021-01-01  2022-01-01  2022-02-01  2022-03-01  2021-06-01  2021-01-02  \
Tías            2          14           6           1           1           1

fecha  2022-01-02  2021-02-02  2022-02-02  2022-03-02  ...  2021-11-29  \
Tías           23           2           4           5  ...           2

fecha  2021-12-29  2021-01-30  2021-09-30  2021-10-30  2021-12-30  2022-01-31  \
Tías           23           2           1           1          40           3

fecha  2021-08-31  2021-10-31  2021-12-31
Tías            2           1          17

[1 rows x 207 columns]
Suma columnas:  (28, 437)
fecha   2022-02-01  2022-03-01  2022-03-02  2022-01-03  2022-03-03  \
Tinajo           1           1           6          11           4

fecha   2022-01-04  2022-03-04  2022-01-05  2022-03-05  2021-08-05  ...  \
Tinajo          12           1          21           1           1  ...

fecha   2022-01-26  2022-01-27  2021-12-27  2022-01-28  2022-02-28  \
Tinajo           2           5           4           1           1

fecha   2021-12-28  2021-12-29  2021-12-30  2022-01-31  2021-12-31
Tinajo           4          10          12           1           2

[1 rows x 66 columns]
Suma columnas:  (29, 437)
fecha    2022-01-01  2022-02-01  2022-03-01  2021-05-01  2021-06-01  \
Tuineje          10           6           2           1           5

fecha    2021-07-01  2021-08-01  2021-09-01  2022-01-02  2021-02-02  ...  \
Tuineje           4           2           1           8           1  ...

fecha    2021-12-29  2022-01-30  2021-06-30  2021-07-30  2021-09-30  \
Tuineje           9           1           6           4           1

fecha    2021-11-30  2021-12-30  2022-01-31  2021-03-31  2021-12-31
Tuineje           1          17          34           1          20

[1 rows x 249 columns]
Suma columnas:  (30, 437)
Empty DataFrame
Columns: []
Index: [Valsequillo de Gran Canaria]
Suma columnas:  (31, 437)
fecha      2022-01-01  2021-02-01  2022-02-01  2021-12-01  2022-01-02  \
Valleseco           1           2           1           1           1

fecha      2022-03-02  2022-01-03  2021-08-03  2022-01-04  2022-03-04  ...  \
Valleseco           1           4           1           1           1  ...

fecha      2022-02-27  2021-01-28  2022-01-28  2022-02-28  2021-11-28  \
Valleseco           1           3           2           1           1

fecha      2021-12-28  2021-11-29  2021-12-29  2021-12-30  2022-01-31
Valleseco           3           1           4           4           1

[1 rows x 61 columns]
Suma columnas:  (32, 437)
fecha              2022-01-01  2022-02-01  2022-03-01  2021-12-01  2022-01-02  \
Vega de San Mateo           3           3           5           1           1

fecha              2022-02-02  2022-03-02  2021-09-02  2022-01-03  2022-02-03  \
Vega de San Mateo           3           6           1           5           1

fecha              ...  2022-01-28  2022-02-28  2021-12-28  2021-11-29  \
Vega de San Mateo  ...           2           2          10           1

fecha              2021-12-29  2021-03-30  2021-08-30  2021-12-30  2022-01-31  \
Vega de San Mateo          18           1           1          10           3

fecha              2021-12-31
Vega de San Mateo          13

[1 rows x 92 columns]
Suma columnas:  (33, 437)
fecha  2022-01-01  2021-02-01  2022-02-01  2022-03-01  2021-05-01  2021-11-01  \
Yaiza          29           2           4           3           1           1

fecha  2021-12-01  2022-01-02  2021-02-02  2022-02-02  ...  2022-01-30  \
Yaiza           1          39           1           4  ...           2

fecha  2021-05-30  2021-07-30  2021-09-30  2021-12-30  2021-01-31  2022-01-31  \
Yaiza           1           2           2          28           1           6

fecha  2021-07-31  2021-08-31  2021-12-31
Yaiza           1           1          29

[1 rows x 182 columns]
Suma columnas:  (34, 437)
fecha  2021-01-01  2022-01-01  2021-02-01  2022-02-01  2021-03-01  2022-03-01  \
Adeje           1           7           6          19           1          20

fecha  2021-04-01  2021-05-01  2021-06-01  2021-07-01  ...  2021-09-30  \
Adeje           5           2           3           9  ...           2

fecha  2021-10-30  2021-11-30  2021-12-30  2021-01-31  2022-01-31  2021-05-31  \
Adeje           2           2          68           1          20           1

fecha  2021-07-31  2021-08-31  2021-12-31
Adeje          17           1          56

[1 rows x 413 columns]
Suma columnas:  (35, 437)
fecha  2022-03-01  2022-03-02  2022-01-04  2022-02-07  2022-02-08  2021-07-08  \
Agulo           2           1           6           1           1           1

fecha  2022-03-10  2021-11-10  2022-01-11  2022-03-11  ...  2021-07-23  \
Agulo           3           1           2           1  ...           1

fecha  2021-12-23  2021-12-24  2022-02-25  2021-12-27  2022-02-28  2021-12-28  \
Agulo           1           1           4           1           2           4

fecha  2021-12-29  2021-12-30  2021-12-31
Agulo           3           3           1

[1 rows x 31 columns]
Suma columnas:  (36, 437)
fecha    2022-03-01  2022-03-02  2022-01-03  2022-03-03  2022-01-04  \
Alajeró           3           6           4           3           8

fecha    2022-02-04  2022-03-04  2022-01-05  2022-02-05  2022-03-05  ...  \
Alajeró           1           6           1           1           4  ...

fecha    2021-11-27  2021-12-27  2022-01-28  2022-02-28  2022-01-29  \
Alajeró           1           3           1           2           2

fecha    2021-12-29  2022-01-30  2021-07-30  2021-12-30  2022-01-31
Alajeró           2           2           2           3           1

[1 rows x 87 columns]
Suma columnas:  (37, 437)
fecha  2022-01-01  2022-02-01  2021-03-01  2021-07-01  2021-12-01  2022-03-02  \
Arafo           1           2           1           1           1           7

fecha  2022-01-03  2021-03-03  2021-05-03  2022-01-04  ...  2022-02-28  \
Arafo           2           1           1           3  ...           1

fecha  2021-04-28  2021-12-28  2021-06-29  2021-07-29  2021-12-29  2021-04-30  \
Arafo           2           1           1           1           1           1

fecha  2021-07-30  2021-11-30  2021-12-30
Arafo           1           1           5

[1 rows x 77 columns]
Suma columnas:  (38, 437)
fecha  2022-01-01  2022-02-01  2022-03-01  2021-10-01  2022-02-02  2022-01-03  \
Arico           8           1           3           1           3           5

fecha  2022-02-03  2022-03-03  2021-08-03  2022-01-04  ...  2022-02-28  \
Arico           2           3           2          16  ...           4

fecha  2021-07-28  2021-12-28  2021-07-29  2021-12-29  2021-04-30  2021-07-30  \
Arico           2          12           1          10           2           7

fecha  2021-12-30  2022-01-31  2021-12-31
Arico          16           4           9

[1 rows x 121 columns]
Suma columnas:  (39, 437)
fecha  2022-01-01  2022-02-01  2022-03-01  2021-04-01  2021-06-01  2021-07-01  \
Arona          18          19           7           3           1          19

fecha  2021-08-01  2021-09-01  2021-10-01  2021-11-01  ...  2021-11-30  \
Arona          14           6          11           5  ...          10

fecha  2021-12-30  2021-01-31  2022-01-31  2021-03-31  2021-05-31  2021-07-31  \
Arona         108           1          14           5           1          14

fecha  2021-08-31  2021-10-31  2021-12-31
Arona           1           4          43

[1 rows x 400 columns]
Suma columnas:  (40, 437)
fecha       2022-02-01  2022-02-02  2021-08-03  2022-01-04  2021-08-04  \
Barlovento           1           1           3           2           1

fecha       2021-03-06  2021-08-06  2022-03-07  2022-01-13  2021-09-14  ...  \
Barlovento           1           1           1           1           1  ...

fecha       2021-12-23  2021-11-24  2021-12-25  2021-12-27  2021-12-28  \
Barlovento           1           5           1           5           4

fecha       2021-12-29  2021-07-30  2021-12-30  2021-03-31  2021-12-31
Barlovento           3           1           4           1           5

[1 rows x 24 columns]
Suma columnas:  (41, 437)

fecha       2022-01-01  2022-02-01  2022-03-01  2021-08-01  2021-11-01  \
Breña Alta          16          66          47           1           1

fecha       2021-12-01  2021-01-02  2022-01-02  2022-02-02  2022-03-02  ...  \
Breña Alta           3           1         123          86          43  ...

fecha       2022-01-29  2021-12-29  2022-01-30  2021-06-30  2021-07-30  \
Breña Alta          71          51           4           1           1

fecha       2021-10-30  2021-12-30  2022-01-31  2021-10-31  2021-12-31
Breña Alta           2          63         188           5         137

[1 rows x 179 columns]
Suma columnas:  (42, 437)
fecha       2022-01-01  2022-03-01  2021-06-01  2021-12-01  2022-01-02  \
Breña Baja           1           3           1           2          10

fecha       2022-03-02  2021-12-02  2022-03-03  2021-08-03  2021-12-03  ...  \
Breña Baja           7           1           3           2           1  ...

fecha       2021-12-27  2021-01-28  2022-02-28  2021-12-28  2021-04-29  \
Breña Baja           3           1           1           5           1

fecha       2021-12-29  2021-10-30  2021-11-30  2021-12-30  2021-12-31
Breña Baja           4           1           9           7           1

[1 rows x 74 columns]
Suma columnas:  (43, 437)
fecha                 2022-02-01  2022-03-01  2022-03-02  2021-08-02  \
Buenavista del Norte           2           3           1           1

fecha                 2022-01-03  2022-03-03  2022-01-04  2022-03-04  \
Buenavista del Norte           4           3           2           9

fecha                 2022-01-07  2022-03-07  ...  2021-12-27  2022-01-28  \
Buenavista del Norte           6           4  ...           6           1

fecha                 2022-02-28  2021-12-28  2021-12-29  2021-07-30  \
Buenavista del Norte           2           8           5           3

fecha                 2021-12-30  2022-01-31  2021-07-31  2021-12-31
Buenavista del Norte           2           1           1           1

[1 rows x 57 columns]
Suma columnas:  (44, 437)
fecha       2022-01-01  2021-02-01  2022-02-01  2021-07-01  2021-08-01  \
Candelaria           2           1           7           2           4

fecha       2021-09-01  2022-01-02  2022-03-02  2021-07-02  2021-08-02  ...  \
Candelaria           1           4          14           2           4  ...

fecha       2021-03-30  2021-04-30  2021-06-30  2021-07-30  2021-08-30  \
Candelaria           1           1           2           8           1

fecha       2021-12-30  2022-01-31  2021-03-31  2021-08-31  2021-12-31
Candelaria          55           3           1           1          13

[1 rows x 213 columns]
Suma columnas:  (45, 437)
fecha   2022-02-01  2021-07-01  2021-12-01  2021-07-02  2021-12-02  \
Fasnia           1           1           1           1           1

fecha   2022-01-03  2022-03-03  2022-01-04  2022-01-05  2022-01-07  ...  \
Fasnia           6           1           8           4           3  ...

fecha   2022-01-26  2021-08-26  2022-01-27  2021-12-27  2022-02-28  \
Fasnia           1           1           2           5           2

fecha   2021-12-28  2021-12-29  2021-01-30  2021-07-30  2021-12-30
Fasnia           8          12           1           1           8

[1 rows x 67 columns]
Suma columnas:  (46, 437)
fecha     2022-01-01  2022-02-01  2022-01-02  2022-02-02  2022-03-02  \
Frontera           1           7           2           2           2

fecha     2022-01-03  2022-02-03  2022-03-03  2021-01-04  2022-01-04  ...  \
Frontera           5           6           8           1           5  ...

fecha     2022-01-28  2022-02-28  2021-04-28  2022-01-29  2021-12-29  \
Frontera           3           1           1           6           2

fecha     2022-01-30  2021-09-30  2022-01-31  2021-07-31  2021-12-31
Frontera           5           1           2           1           4

[1 rows x 79 columns]
Suma columnas:  (47, 437)
Empty DataFrame
Columns: []
Index: [Fuencaliente de La Palma]
Suma columnas:  (48, 437)
fecha      2022-01-01  2022-02-01  2022-03-01  2022-01-03  2022-03-03  \
Garachico           1           2           1           5           2

fecha      2022-03-04  2022-01-05  2022-01-07  2022-03-07  2021-07-08  ...  \
Garachico           1           1           2           2           1  ...

fecha      2022-02-25  2022-01-26  2021-02-26  2021-12-27  2022-02-28  \
Garachico           2           1           1           1           3

fecha      2021-07-28  2021-12-28  2021-12-29  2021-12-30  2021-12-31
Garachico           1           4           1           5           1

[1 rows x 45 columns]
Suma columnas:  (49, 437)
fecha    2022-01-05  2022-03-08  2022-03-09  2021-08-11  2022-03-12  \
Garafía           1           1           3           1           1

fecha    2021-07-12  2021-11-12  2022-01-13  2022-03-13  2021-02-14  \
Garafía           2           2           1           1           3

fecha    2022-01-17  2021-08-18  2021-12-22  2022-01-23  2021-12-23  \
Garafía           1           2           1           2           1

fecha    2021-07-24  2021-08-24  2021-03-31
Garafía           1           1           1
Suma columnas:  (50, 437)
fecha                2021-01-01  2022-01-01  2021-02-01  2022-02-01  \
Granadilla de Abona           3          22           2          10

fecha                2021-03-01  2022-03-01  2021-04-01  2021-05-01  \
Granadilla de Abona           2           6           6           2

fecha                2021-06-01  2021-07-01  ...  2021-04-30  2021-06-30  \
Granadilla de Abona           3          13  ...           2          18

fecha                2021-07-30  2021-08-30  2021-11-30  2021-12-30  \
Granadilla de Abona          41           3           9          71

fecha                2022-01-31  2021-05-31  2021-07-31  2021-12-31
Granadilla de Abona          11           1          40          52

[1 rows x 372 columns]
Suma columnas:  (51, 437)
fecha       2021-03-01  2022-03-01  2021-10-01  2022-01-02  2022-03-02  \
La Guancha           2           2           1           1           3

fecha       2021-06-02  2021-08-02  2021-11-02  2022-01-03  2022-02-03  ...  \
La Guancha           1           2           1          15           1  ...

fecha       2021-06-29  2021-07-29  2021-12-29  2022-01-30  2021-06-30  \
La Guancha           1           2          15           1           1

fecha       2021-07-30  2021-12-30  2022-01-31  2021-07-31  2021-12-31
La Guancha           2           9           3           1          10

[1 rows x 117 columns]
Suma columnas:  (52, 437)
fecha          2022-01-01  2022-02-01  2021-03-01  2022-03-01  2021-04-01  \
Guía de Isora          20          10           1          14           2

fecha          2021-05-01  2021-06-01  2021-08-01  2021-10-01  2021-12-01  \
Guía de Isora           1           3           7           1           4

fecha          ...  2021-12-29  2022-01-30  2021-04-30  2021-07-30  \
Guía de Isora  ...          40           4           1          15

fecha          2021-10-30  2021-11-30  2021-12-30  2022-01-31  2021-07-31  \
Guía de Isora           1           2          32          16           2

fecha          2021-12-31
Guía de Isora          13

[1 rows x 254 columns]
Suma columnas:  (53, 437)
fecha   2022-01-01  2022-02-01  2022-03-01  2021-06-01  2021-07-01  \
Güímar          25           3           4           1           1

fecha   2021-08-01  2022-01-02  2022-02-02  2022-03-02  2021-04-02  ...  \
Güímar           2          10           2          10           1  ...

fecha   2022-01-30  2021-03-30  2021-04-30  2021-07-30  2021-08-30  \
Güímar           1           1           2          11           1

fecha   2021-12-30  2022-01-31  2021-07-31  2021-10-31  2021-12-31
Güímar          42           7           2           1          44

[1 rows x 217 columns]
Suma columnas:  (54, 437)
fecha     2022-02-01  2022-03-01  2022-02-02  2022-03-02  2022-01-03  \
Hermigua           1           3           1           3           1

fecha     2022-02-03  2022-03-03  2021-08-03  2022-01-04  2022-03-04  ...  \
Hermigua           1           5           2           9           5  ...

fecha     2022-02-26  2021-10-26  2021-12-26  2022-02-27  2021-12-27  \
Hermigua           6           1           1           6          13

fecha     2022-01-28  2022-02-28  2021-12-28  2021-07-30  2021-12-30
Hermigua           1           1           1           1           1

[1 rows x 65 columns]
Suma columnas:  (55, 437)
Empty DataFrame
Columns: []
Index: [Icod de los Vinos]
Suma columnas:  (56, 437)
Empty DataFrame
Columns: []
Index: [San Cristóbal de La Laguna]

Suma columnas:  (57, 437)
fecha                  2022-01-01  2022-02-01  2021-03-01  2022-03-01  \
Los Llanos de Aridane           1           2           3           1

fecha                  2021-04-01  2021-08-01  2021-12-01  2022-01-02  \
Los Llanos de Aridane           2           2           2          18

fecha                  2021-03-02  2022-03-02  ...  2021-07-29  2021-11-29  \
Los Llanos de Aridane           1           8  ...           7           1

fecha                  2021-12-29  2021-03-30  2021-07-30  2021-11-30  \
Los Llanos de Aridane          60           1           1           4

fecha                  2021-12-30  2021-03-31  2021-07-31  2021-12-31
Los Llanos de Aridane          76           3           4          34

[1 rows x 182 columns]
Suma columnas:  (58, 437)
fecha                   2022-02-01  2021-12-01  2022-03-02  2021-06-02  \
La Matanza de Acentejo           5           1           6           1

fecha                   2021-09-02  2022-01-03  2022-02-03  2022-03-03  \
La Matanza de Acentejo           1          29           6          11

fecha                   2022-01-04  2022-03-04  ...  2022-01-28  2022-02-28  \
La Matanza de Acentejo          23           5  ...           3           7

fecha                   2021-06-28  2021-12-28  2021-06-29  2021-12-29  \
La Matanza de Acentejo           2          28           1          18

fecha                   2021-06-30  2021-07-30  2021-12-30  2022-01-31
La Matanza de Acentejo           2           2          19           5

[1 rows x 109 columns]
Suma columnas:  (59, 437)
fecha       2022-01-01  2022-02-01  2021-03-01  2022-03-01  2021-05-01  \
La Orotava           9          16           4           2           1

fecha       2021-06-01  2021-07-01  2021-08-01  2021-10-01  2022-01-02  ...  \
La Orotava           1           1           5           1          16  ...

fecha       2021-12-29  2022-01-30  2021-03-30  2021-06-30  2021-07-30  \
La Orotava         116           4           2           1          13

fecha       2021-11-30  2021-12-30  2022-01-31  2021-07-31  2021-12-31
La Orotava           3         124           8           4          46

[1 rows x 278 columns]
Suma columnas:  (60, 437)
fecha    2022-02-01  2022-03-01  2021-04-01  2021-08-01  2021-12-01  \
El Paso           1           1           1           1           2

fecha    2022-01-02  2022-03-02  2021-08-02  2022-01-03  2022-03-03  ...  \
El Paso           5           1           3           1           3  ...

fecha    2021-12-27  2021-07-28  2021-12-28  2022-01-29  2021-06-29  \
El Paso           3           1           5           1           1

fecha    2021-12-29  2021-04-30  2021-11-30  2021-12-30  2021-12-31
El Paso           2           1           2          16          10

[1 rows x 72 columns]
Suma columnas:  (61, 437)
Empty DataFrame
Columns: []
Index: [Puerto de la Cruz]
Suma columnas:  (62, 437)
fecha       2022-01-04  2022-01-07  2021-08-07  2021-08-08  2022-03-09  \
Puntagorda           1           1           2           2           1

fecha       2022-01-10  2022-03-10  2022-01-13  2022-01-14  2021-08-14  ...  \
Puntagorda           1           2           1           4           1  ...

fecha       2022-01-20  2021-12-20  2022-01-21  2021-12-22  2021-12-23  \
Puntagorda           2           7           2           1           1

fecha       2021-12-26  2022-01-27  2021-12-29  2021-12-30  2021-12-31
Puntagorda           1           1           2           1           2

[1 rows x 24 columns]
Suma columnas:  (63, 437)
fecha       2021-02-01  2021-02-03  2022-01-04  2022-03-07  2021-12-09  \
Puntallana           1           1           1           1           1

fecha       2021-12-13  2021-07-14  2022-01-15  2021-07-15  2021-02-17  ...  \
Puntallana           4           1           1           1           1  ...

fecha       2021-12-22  2021-07-23  2022-02-24  2021-12-24  2021-12-26  \
Puntallana           3           4           1           1           1

fecha       2021-02-27  2021-11-27  2021-06-28  2021-12-29  2021-12-30
Puntallana           2           1           1           3           2

[1 rows x 23 columns]
Suma columnas:  (64, 437)
fecha         2022-01-01  2022-02-01  2021-03-01  2022-03-01  2021-05-01  \
Los Realejos          15           8           1          22           2

fecha         2021-06-01  2021-07-01  2021-09-01  2021-12-01  2021-01-02  ...  \
Los Realejos           1           4           4           1           1  ...

fecha         2021-03-30  2021-06-30  2021-07-30  2021-08-30  2021-11-30  \
Los Realejos           3           2          10           1           2

fecha         2021-12-30  2022-01-31  2021-05-31  2021-07-31  2021-12-31
Los Realejos          60           9           1           6          31

[1 rows x 283 columns]
Suma columnas:  (65, 437)
fecha       2021-01-01  2022-01-01  2022-02-01  2021-03-01  2021-06-01  \
El Rosario           2           1           3           1           1

fecha       2021-07-01  2021-10-01  2021-12-01  2021-01-02  2022-01-02  ...  \
El Rosario           1           1           1           1           3  ...

fecha       2021-01-30  2021-03-30  2021-06-30  2021-07-30  2021-09-30  \
El Rosario           1           1           2           2           1

fecha       2021-12-30  2021-03-31  2021-07-31  2021-08-31  2021-12-31
El Rosario          17           1           1           1           3

[1 rows x 178 columns]
Suma columnas:  (66, 437)
fecha                2022-03-01  2021-12-01  2022-02-02  2022-03-02  \
San Andrés y Sauces           1           6           1           6

fecha                2021-12-02  2022-01-04  2021-02-04  2022-03-04  \
San Andrés y Sauces           2           2           1           3

fecha                2021-11-04  2021-04-06  ...  2022-01-28  2022-02-28  \
San Andrés y Sauces           3           1  ...           1           4

fecha                2021-12-28  2021-11-29  2021-12-29  2021-11-30  \
San Andrés y Sauces           1           1           4           4

fecha                2021-12-30  2022-01-31  2021-08-31  2021-12-31
San Andrés y Sauces           6           1           6           1

[1 rows x 64 columns]
Suma columnas:  (67, 437)
Empty DataFrame
Columns: []
Index: [San Juan de la Rambla]
Suma columnas:  (68, 437)
fecha                2022-01-01  2022-02-01  2021-07-01  2021-08-01  \
San Miguel de Abona           3           7           2           3

fecha                2021-12-01  2022-01-02  2021-03-02  2022-03-02  \
San Miguel de Abona           5           3           1          15

fecha                2021-07-02  2021-11-02  ...  2021-03-30  2021-06-30  \
San Miguel de Abona           3           1  ...           3           1

fecha                2021-07-30  2021-09-30  2021-11-30  2021-12-30  \
San Miguel de Abona           5           1           5          21

fecha                2022-01-31  2021-03-31  2021-07-31  2021-12-31
San Miguel de Abona           2           2           1           6

[1 rows x 182 columns]
Suma columnas:  (69, 437)
fecha                       2022-01-01  2022-02-01  2022-03-01  2021-11-01  \
San Sebastián de La Gomera          10           3           1           1

fecha                       2021-12-01  2021-01-02  2022-01-02  2022-02-02  \
San Sebastián de La Gomera           3           1          11           4

fecha                       2021-03-02  2022-03-02  ...  2022-01-30  \
San Sebastián de La Gomera           1          15  ...           1

fecha                       2021-07-30  2021-08-30  2021-10-30  2021-12-30  \
San Sebastián de La Gomera           1           1           3          14

fecha                       2022-01-31  2021-03-31  2021-08-31  2021-10-31  \
San Sebastián de La Gomera           6           2           3           1

fecha                       2021-12-31
San Sebastián de La Gomera          20

[1 rows x 165 columns]
Suma columnas:  (70, 437)
fecha                   2021-03-01  2022-01-02  2022-02-02  2022-03-02  \
Santa Cruz de La Palma           1          11           1          19

fecha                   2021-08-02  2021-12-02  2021-03-03  2022-03-03  \
Santa Cruz de La Palma           2           7           3          20

fecha                   2021-08-03  2021-10-03  ...  2021-11-28  2021-12-28  \
Santa Cruz de La Palma           3           1  ...           3          12

fecha                   2021-05-29  2021-07-29  2021-12-29  2021-07-30  \
Santa Cruz de La Palma           2           1          22           4

fecha                   2021-12-30  2021-03-31  2021-07-31  2021-12-31
Santa Cruz de La Palma          26           1           1          17

[1 rows x 145 columns]
Suma columnas:  (71, 437)
fecha                   2021-01-01  2022-01-01  2021-02-01  2022-02-01  \
Santa Cruz de Tenerife          39         430          29         167

fecha                   2021-03-01  2022-03-01  2021-04-01  2021-05-01  \
Santa Cruz de Tenerife          40         115          44          32

fecha                   2021-06-01  2021-07-01  ...  2021-11-30  2021-12-30  \
Santa Cruz de Tenerife          43         102  ...          55        1041

fecha                   2021-01-31  2022-01-31  2021-03-31  2021-05-31  \
Santa Cruz de Tenerife          16         170          67          25

fecha                   2021-07-31  2021-08-31  2021-10-31  2021-12-31
Santa Cruz de Tenerife         138          37           9         717

[1 rows x 437 columns]
Suma columnas:  (72, 437)

fecha         2022-02-01  2021-07-01  2021-12-01  2021-02-02  2022-03-02  \
Santa Úrsula           5           1           3           1           8

fecha         2021-07-02  2021-08-02  2021-09-02  2021-12-02  2022-01-03  ...  \
Santa Úrsula           1           7           1           1          24  ...

fecha         2021-01-29  2021-04-29  2021-07-29  2021-12-29  2021-04-30  \
Santa Úrsula           2           1           2          48           1

fecha         2021-07-30  2021-12-30  2022-01-31  2021-08-31  2021-12-31
Santa Úrsula           7          35           3           3           1

[1 rows x 135 columns]
Suma columnas:  (73, 437)
fecha               2022-01-01  2022-02-01  2022-03-01  2021-06-01  \
Santiago del Teide           1           2           4           1

fecha               2021-12-01  2022-01-02  2022-03-02  2021-07-02  \
Santiago del Teide           2           1           9           1

fecha               2021-08-02  2021-09-02  ...  2021-10-28  2021-12-28  \
Santiago del Teide           6           1  ...           1          12

fecha               2021-06-29  2021-07-29  2021-12-29  2021-07-30  \
Santiago del Teide           1           1           8           8

fecha               2021-11-30  2021-12-30  2022-01-31  2021-07-31
Santiago del Teide           1           4           2           1

[1 rows x 146 columns]
Suma columnas:  (74, 437)
fecha      2022-02-01  2021-12-01  2022-01-02  2021-03-02  2022-03-02  \
El Sauzal           2           4           1           1           8

fecha      2021-06-02  2021-07-02  2022-01-03  2022-02-03  2022-03-03  ...  \
El Sauzal           1           1          12           2           3  ...

fecha      2021-12-26  2021-07-27  2021-12-27  2022-01-28  2022-02-28  \
El Sauzal           1           1           6           2           2

fecha      2021-12-28  2022-01-29  2021-07-29  2021-12-29  2021-12-30
El Sauzal          12           1           2           6           8

[1 rows x 112 columns]
Suma columnas:  (75, 437)
fecha      2022-01-01  2022-02-01  2022-03-01  2021-08-01  2022-02-02  \
Los Silos           2           1           4           1           1

fecha      2022-03-02  2022-01-03  2022-02-03  2022-03-03  2021-09-03  ...  \
Los Silos           8           5           3           3           1  ...

fecha      2022-01-29  2021-03-29  2021-08-29  2021-12-29  2022-01-30  \
Los Silos           1           2           1           7           1

fecha      2021-03-30  2021-11-30  2021-12-30  2022-01-31  2021-12-31
Los Silos           1           1          14           2           5

[1 rows x 99 columns]
Suma columnas:  (76, 437)
fecha      2022-01-01  2022-02-01  2022-03-01  2021-07-01  2021-08-01  \
Tacoronte          11           4           2           2           3

fecha      2022-01-02  2022-02-02  2021-03-02  2022-03-02  2021-06-02  ...  \
Tacoronte          14           4           3          19           1  ...

fecha      2021-11-29  2021-12-29  2022-01-30  2021-04-30  2021-06-30  \
Tacoronte           1          69           6           1           1

fecha      2021-07-30  2021-12-30  2022-01-31  2021-07-31  2021-12-31
Tacoronte           4          60           6           2          31

[1 rows x 225 columns]
Suma columnas:  (77, 437)
fecha      2021-03-01  2022-03-01  2021-08-01  2022-03-02  2022-01-03  \
El Tanque           2           2           1           2           6

fecha      2022-03-03  2022-01-04  2022-03-04  2021-06-04  2021-01-05  ...  \
El Tanque           1           4           2           2           1  ...

fecha      2022-02-25  2022-01-26  2021-04-27  2021-05-27  2021-12-27  \
El Tanque           1           1           1           1           4

fecha      2021-12-28  2021-01-29  2021-12-29  2021-12-30  2021-12-31
El Tanque           7           1           3           4           1

[1 rows x 65 columns]
Suma columnas:  (78, 437)
fecha      2021-01-02  2022-01-02  2021-03-02  2022-03-02  2021-08-02  \
Tazacorte           2           3           3           1           1

fecha      2022-03-03  2021-12-03  2022-03-04  2021-12-04  2021-01-05  ...  \
Tazacorte           4           1           2           2           1  ...

fecha      2021-02-26  2021-07-26  2021-11-26  2021-12-26  2022-02-28  \
Tazacorte           2           4           1           2           1

fecha      2021-12-28  2021-12-29  2021-12-30  2021-03-31  2021-12-31
Tazacorte           1           1           6           5           6

[1 rows x 77 columns]
Suma columnas:  (79, 437)
fecha     2022-01-01  2022-02-01  2022-03-01  2022-03-02  2021-08-02  \
Tegueste           2           3           2           5           2

fecha     2021-12-02  2022-01-03  2022-02-03  2022-03-03  2021-08-03  ...  \
Tegueste           1          21           1           4           2  ...

fecha     2021-12-28  2021-07-29  2021-11-29  2021-12-29  2021-03-30  \
Tegueste          13           1           1          17           2

fecha     2021-04-30  2021-12-30  2022-01-31  2021-03-31  2021-12-31
Tegueste           1          21           1           3           5

[1 rows x 125 columns]
Suma columnas:  (80, 437)
fecha     2022-03-01  2021-08-01  2022-01-02  2022-01-03  2022-03-03  \
Tijarafe           1           1           3           4           2

fecha     2021-08-03  2022-01-04  2021-08-04  2022-03-05  2021-05-05  ...  \
Tijarafe           2           2           1           1           1  ...

fecha     2021-07-22  2022-01-24  2021-12-25  2021-12-26  2021-07-27  \
Tijarafe           1           1           3          11           1

fecha     2021-11-27  2022-01-28  2021-04-28  2021-12-30  2021-12-31
Tijarafe           2           1           1           5           5

[1 rows x 43 columns]
Suma columnas:  (81, 437)
fecha     2021-02-01  2022-02-01  2022-03-01  2021-05-01  2021-07-01  \
Valverde           6           3           5           6           4

fecha     2022-01-02  2021-02-02  2022-02-02  2021-03-02  2022-03-02  ...  \
Valverde           6           7           7           1          17  ...

fecha     2021-04-29  2021-09-29  2021-12-29  2022-01-30  2021-04-30  \
Valverde           3           1          31           1           3

fecha     2021-06-30  2021-07-30  2021-12-30  2022-01-31  2021-12-31
Valverde           6           1          13          17          19

[1 rows x 191 columns]
Suma columnas:  (82, 437)
fecha           2022-01-01  2021-12-01  2022-02-02  2022-03-02  2021-08-02  \
Valle Gran Rey           2           1           1           3           1

fecha           2022-01-03  2022-02-03  2022-03-03  2021-12-03  2022-01-04  \
Valle Gran Rey           1           3           8           2           1

fecha           ...  2022-02-27  2021-12-27  2022-01-28  2021-12-28  \
Valle Gran Rey  ...           3           4           1           5

fecha           2022-01-29  2021-05-29  2021-11-29  2021-12-29  2021-12-30  \
Valle Gran Rey           6           1           1           1           2

fecha           2022-01-31
Valle Gran Rey           2

[1 rows x 80 columns]
Suma columnas:  (83, 437)
fecha         2022-02-01  2021-09-01  2021-08-02  2022-01-03  2022-02-03  \
Vallehermoso           1           1           4           4           2

fecha         2021-03-03  2021-08-03  2021-01-04  2022-01-04  2022-01-05  ...  \
Vallehermoso           1           1           1           7          11  ...

fecha         2021-07-27  2021-12-27  2022-02-28  2021-07-28  2021-12-28  \
Vallehermoso           2           1           1           1           3

fecha         2021-07-29  2021-12-29  2021-07-30  2021-12-30  2021-12-31
Vallehermoso           1           1           1           1           1

[1 rows x 59 columns]
Suma columnas:  (84, 437)
fecha                    2022-01-01  2022-02-01  2021-03-01  2022-03-01  \
La Victoria de Acentejo           5           1           1           4

fecha                    2021-08-01  2021-12-01  2021-01-02  2022-01-02  \
La Victoria de Acentejo           1           1           4           6

fecha                    2022-02-02  2022-03-02  ...  2021-12-28  2022-01-29  \
La Victoria de Acentejo           1           3  ...          33           1

fecha                    2021-05-29  2021-06-29  2021-07-29  2021-12-29  \
La Victoria de Acentejo           1           1           5          16

fecha                    2021-07-30  2021-12-30  2022-01-31  2021-12-31
La Victoria de Acentejo           4          29           2          38

[1 rows x 173 columns]

Suma columnas:  (85, 437)
Empty DataFrame
Columns: []
Index: [Vilaflor de Chasna]
Suma columnas:  (86, 437)
fecha          2021-02-01  2022-02-01  2021-03-01  2022-03-01  2021-07-01  \
Villa de Mazo           1           1           1           1           1

fecha          2022-01-02  2022-03-02  2021-12-02  2022-01-03  2021-03-03  \
Villa de Mazo           4           4           1           1           1

fecha          ...  2021-01-27  2021-07-27  2021-12-27  2021-02-28  \
Villa de Mazo  ...           1           1           1           1

fecha          2022-02-28  2021-10-28  2021-12-28  2021-12-29  2021-12-30  \
Villa de Mazo           6           1           2           5           3

fecha          2021-12-31
Villa de Mazo           3

[1 rows x 72 columns]
Suma columnas:  (87, 437)
Empty DataFrame
Columns: []
Index: [El Pinar de El Hierro]
Suma columnas:  (88, 437)

In [66]:
pru = pd.DataFrame()

aux = asignacion_count[asignacion_count['municipio'] == 'Agaete']
aux.columns=['fecha','municipio','Agaete']
aux = aux[['fecha', 'Agaete']]
aux['Agaete'] = aux['Agaete'].astype(int)
aux.set_index('fecha')
pru = pd.concat([pru, aux])

In [186]:
pru = pru.replace(np.nan, 0)
pru = pru.reset_index()
print(pru)

fecha                    index  2021-01-01 00:00:00  2021-01-02 00:00:00  \
0                       Agaete                  0.0                  0.0
1                      Agüimes                  0.0                  0.0
2                      Antigua                  0.0                  0.0
3                     Arrecife                 11.0                 31.0
4                     Artenara                  0.0                  0.0
..                         ...                  ...                  ...
83                Vallehermoso                  0.0                  0.0
84     La Victoria de Acentejo                  0.0                  4.0
85          Vilaflor de Chasna                  0.0                  0.0
86               Villa de Mazo                  0.0                  0.0
87       El Pinar de El Hierro                  0.0                  0.0

fecha  2021-01-03 00:00:00  2021-01-04 00:00:00  2021-01-05 00:00:00  \
0                      0.0                  0.0                  0.0
1                      1.0                  0.0                  0.0
2                      0.0                  0.0                  0.0
3                     20.0                 20.0                 19.0
4                      0.0                  0.0                  0.0
..                     ...                  ...                  ...
83                     0.0                  1.0                  0.0
84                     0.0                  2.0                  1.0
85                     0.0                  0.0                  0.0
86                     0.0                  0.0                  0.0
87                     0.0                  0.0                  0.0

fecha  2021-01-06 00:00:00  2021-01-07 00:00:00  2021-01-08 00:00:00  \
0                      0.0                  0.0                  0.0
1                      0.0                  0.0                  1.0
2                      0.0                  0.0                  0.0
3                     46.0                 52.0                 24.0
4                      0.0                  0.0                  0.0
..                     ...                  ...                  ...
83                     0.0                  0.0                  0.0
84                     1.0                  0.0                  0.0
85                     0.0                  0.0                  0.0
86                     0.0                  0.0                  0.0
87                     0.0                  0.0                  0.0

fecha  2021-01-09 00:00:00  ...  2022-03-04 00:00:00  2022-03-05 00:00:00  \
0                      0.0  ...                  3.0                  0.0
1                      0.0  ...                 11.0                  4.0
2                      0.0  ...                  1.0                  0.0
3                     60.0  ...                 73.0                 33.0
4                      0.0  ...                  0.0                  0.0
..                     ...  ...                  ...                  ...
83                     0.0  ...                  0.0                  0.0
84                     2.0  ...                  6.0                  3.0
85                     0.0  ...                  0.0                  0.0
86                     0.0  ...                  3.0                  1.0
87                     0.0  ...                  0.0                  0.0

fecha  2022-03-06 00:00:00  2022-03-07 00:00:00  2022-03-08 00:00:00  \
0                      2.0                  3.0                  2.0
1                      2.0                  5.0                  6.0
2                      0.0                  0.0                  0.0
3                     42.0                 93.0                104.0
4                      0.0                  2.0                  3.0
..                     ...                  ...                  ...
83                     0.0                  2.0                  0.0
84                     5.0                  1.0                  7.0
85                     0.0                  0.0                  0.0
86                     3.0                  8.0                  2.0
87                     0.0                  0.0                  0.0

fecha  2022-03-09 00:00:00  2022-03-10 00:00:00  2022-03-11 00:00:00  \
0                      2.0                  2.0                  3.0
1                      4.0                  9.0                  5.0
2                      0.0                  0.0                  1.0
3                     22.0                 13.0                 15.0
4                      0.0                  1.0                  0.0
..                     ...                  ...                  ...
83                     6.0                  3.0                  4.0
84                    11.0                  8.0                  9.0
85                     0.0                  0.0                  0.0
86                    12.0                  6.0                  7.0
87                     0.0                  0.0                  0.0

fecha  2022-03-12 00:00:00  2022-03-13 00:00:00
0                      1.0                  0.0
1                      0.0                  1.0
2                      0.0                  0.0
3                      9.0                 15.0
4                      0.0                  0.0
..                     ...                  ...
83                     1.0                  0.0
84                     7.0                  7.0
85                     0.0                  0.0
86                     0.0                  0.0
87                     0.0                  0.0

[88 rows x 438 columns]

In [188]:
pru.to_excel('covid_fin.xlsx', index=False, encoding="utf8")

0         1
1        11
2         2
3         3
4        21
         ..
13778    19
13779    13
13780     1
13781     3
13782    29
Name: 0, Length: 13783, dtype: int32