In [148]:
import pandas as pd
import numpy as np 

from datetime import datetime

In [68]:
covid = pd.read_csv("data/covid_canarias.csv")
municipios = pd.read_csv("data/municipios.csv")

In [69]:
covid.head()

,fecha_datos,isla,municipio,sexo,grupo_edad,fecha_caso,fecha_fallecido,fecha_curado,estado_caso,identificacion_caso,fallecido,curado,continua_enfermo,provincia
0,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
1,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
2,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,06/01/2022,NaN,17/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
3,14/03/2022,TENERIFE,Adeje,Hombre,50 - 59,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
4,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife

In [72]:
asignacion = covid[covid['identificacion_caso'] == "Asignación"]

In [124]:
asignacion_count = asignacion.groupby(['fecha_caso','municipio']).size().reset_index()

In [105]:
asignacion_count.columns = ['fecha', 'municipio', 'prueba']

In [95]:
asignacion_count = asignacion_count.set_index('fecha')

In [125]:
z = asignacion_count[asignacion_count['municipio'] == 'Agaete']

In [133]:
z = pd.DataFrame(asignacion_count)

In [134]:
print(z)

       fecha_caso            municipio   0
0      01/01/2021                Adeje   1
1      01/01/2021             Arrecife  11
2      01/01/2021           El Rosario   2
3      01/01/2021  Granadilla de Abona   3
4      01/01/2021            La Laguna  21
...           ...                  ...  ..
13778  31/12/2021             Valverde  19
13779  31/12/2021    Vega de San Mateo  13
13780  31/12/2021             Vilaflor   1
13781  31/12/2021        Villa de Mazo   3
13782  31/12/2021                Yaiza  29

[13783 rows x 3 columns]

In [135]:
fechas = asignacion_count['fecha_caso'].unique().tolist()

In [145]:
asignacion_count['fecha_caso'] = pd.to_datetime(asignacion_count['fecha_caso'], format="%d-%m-%y")

ValueError: time data '01/01/2021' does not match format '%d-%m-%y' (match)

In [149]:
print(datetime.strptime(fechas, format="%d-%m-%Y"))

AttributeError: module 'datetime' has no attribute 'strptime'

In [22]:
df_municipios = pd.DataFrame(municipios['municipio'])

In [60]:
asignacion_count['municipio'] = asignacion_count['municipio'].to_string()

In [69]:
print(asignacion_count)

       fecha_caso            municipio   0
0      01/01/2021                Adeje   1
1      01/01/2021             Arrecife  11
2      01/01/2021           El Rosario   2
3      01/01/2021  Granadilla de Abona   3
4      01/01/2021            La Laguna  21
...           ...                  ...  ..
13778  31/12/2021             Valverde  19
13779  31/12/2021    Vega de San Mateo  13
13780  31/12/2021             Vilaflor   1
13781  31/12/2021        Villa de Mazo   3
13782  31/12/2021                Yaiza  29

[13783 rows x 3 columns]

In [9]:
asignacion_count.to_excel('covid_fin.xlsx', index=False, encoding="utf8")

In [62]:
pru = pd.DataFrame()
for index, row in df_municipios.iterrows():
    aux = asignacion_count[asignacion_count['municipio'] == row['municipio']]
    aux.columns=['fecha','municipio',row['municipio']]
    aux = aux[['fecha', row['municipio']]]
    aux[row['municipio']] = aux[row['municipio']].astype(int)
    #aux.reset_index(drop=False, inplace=True)
    #aux = aux.transpose()
    #print(aux.dtypes)
    pru = pd.concat([pru, aux], axis = 1)
    print("Suma columnas: ",pru.shape)

Suma columnas:  (97, 2)
Suma columnas:  (286, 4)
Suma columnas:  (317, 6)
Suma columnas:  (751, 8)
Suma columnas:  (783, 10)
Suma columnas:  (944, 12)
Suma columnas:  (944, 14)
Suma columnas:  (1029, 16)
Suma columnas:  (1187, 18)
Suma columnas:  (1242, 20)
Suma columnas:  (1464, 22)
Suma columnas:  (1663, 24)
Suma columnas:  (1767, 26)
Suma columnas:  (2117, 28)
Suma columnas:  (2385, 30)
Suma columnas:  (2822, 32)
Suma columnas:  (3225, 34)
Suma columnas:  (3326, 36)
Suma columnas:  (3670, 38)
Suma columnas:  (3773, 40)
Suma columnas:  (3928, 42)
Suma columnas:  (4247, 44)
Suma columnas:  (4247, 46)
Suma columnas:  (4392, 48)
Suma columnas:  (4431, 50)
Suma columnas:  (4761, 52)
Suma columnas:  (4878, 54)
Suma columnas:  (5085, 56)
Suma columnas:  (5151, 58)
Suma columnas:  (5400, 60)
Suma columnas:  (5400, 62)
Suma columnas:  (5461, 64)
Suma columnas:  (5553, 66)
Suma columnas:  (5735, 68)
Suma columnas:  (6148, 70)
Suma columnas:  (6179, 72)
Suma columnas:  (6266, 74)
Suma columnas:  (6343, 76)
Suma columnas:  (6464, 78)
Suma columnas:  (6864, 80)
Suma columnas:  (6888, 82)
Suma columnas:  (7067, 84)
Suma columnas:  (7141, 86)
Suma columnas:  (7198, 88)
Suma columnas:  (7411, 90)
Suma columnas:  (7478, 92)
Suma columnas:  (7557, 94)
Suma columnas:  (7557, 96)
Suma columnas:  (7602, 98)
Suma columnas:  (7620, 100)
Suma columnas:  (7992, 102)
Suma columnas:  (8109, 104)
Suma columnas:  (8363, 106)
Suma columnas:  (8580, 108)
Suma columnas:  (8645, 110)
Suma columnas:  (8645, 112)
Suma columnas:  (8645, 114)
Suma columnas:  (8827, 116)
Suma columnas:  (8936, 118)
Suma columnas:  (9214, 120)
Suma columnas:  (9286, 122)
Suma columnas:  (9286, 124)
Suma columnas:  (9310, 126)
Suma columnas:  (9333, 128)
Suma columnas:  (9616, 130)
Suma columnas:  (9794, 132)
Suma columnas:  (9858, 134)
Suma columnas:  (9858, 136)
Suma columnas:  (10040, 138)
Suma columnas:  (10205, 140)
Suma columnas:  (10350, 142)
Suma columnas:  (10787, 144)
Suma columnas:  (10922, 146)
Suma columnas:  (11068, 148)
Suma columnas:  (11180, 150)
Suma columnas:  (11279, 152)
Suma columnas:  (11504, 154)
Suma columnas:  (11569, 156)
Suma columnas:  (11646, 158)
Suma columnas:  (11771, 160)
Suma columnas:  (11814, 162)
Suma columnas:  (12005, 164)
Suma columnas:  (12085, 166)
Suma columnas:  (12144, 168)
Suma columnas:  (12317, 170)
Suma columnas:  (12317, 172)
Suma columnas:  (12389, 174)
Suma columnas:  (12389, 176)

In [66]:
pru = pd.DataFrame()

aux = asignacion_count[asignacion_count['municipio'] == 'Agaete']
aux.columns=['fecha','municipio','Agaete']
aux = aux[['fecha', 'Agaete']]
aux['Agaete'] = aux['Agaete'].astype(int)
aux.set_index('fecha')
pru = pd.concat([pru, aux])

In [67]:
print(pru)

            fecha  Agaete
91     01/02/2022       6
186    01/03/2022       1
464    02/01/2022       2
621    02/03/2022       1
738    02/07/2021       1
...           ...     ...
13099  29/12/2021      12
13279  30/05/2021       2
13448  30/12/2021       4
13542  31/01/2022       4
13712  31/12/2021       1

[97 rows x 2 columns]

0         1
1        11
2         2
3         3
4        21
         ..
13778    19
13779    13
13780     1
13781     3
13782    29
Name: 0, Length: 13783, dtype: int32