In [98]:
import pandas as pd
import numpy as np

In [42]:
covid = pd.read_csv("data/covid_canarias.csv")
municipios = pd.read_csv("data/municipios.csv")

In [4]:
covid.head()

,fecha_datos,isla,municipio,sexo,grupo_edad,fecha_caso,fecha_fallecido,fecha_curado,estado_caso,identificacion_caso,fallecido,curado,continua_enfermo,provincia
0,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
1,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
2,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,06/01/2022,NaN,17/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
3,14/03/2022,TENERIFE,Adeje,Hombre,50 - 59,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
4,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife

In [30]:
asignacion = covid[covid['identificacion_caso'] == "Asignación"]

In [40]:
asignacion_count = asignacion.groupby(['fecha_caso','municipio']).size().reset_index()

In [48]:
print(asignacion_count.groupby('fecha_caso'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E06622B790>

In [45]:
df_municipios = pd.DataFrame(municipios['municipio'])

In [111]:
print(asignacion_count)

       fecha_caso            municipio   0
0      01/01/2021                Adeje   1
1      01/01/2021             Arrecife  11
2      01/01/2021           El Rosario   2
3      01/01/2021  Granadilla de Abona   3
4      01/01/2021            La Laguna  21
...           ...                  ...  ..
13778  31/12/2021             Valverde  19
13779  31/12/2021    Vega de San Mateo  13
13780  31/12/2021             Vilaflor   1
13781  31/12/2021        Villa de Mazo   3
13782  31/12/2021                Yaiza  29

[13783 rows x 3 columns]

In [34]:
asignacion_count.to_excel('covid_fin.xlsx', index=False, encoding="utf8")

In [110]:
pru = pd.DataFrame()
for index, row in df_municipios.iterrows():
    aux = asignacion_count[asignacion_count['municipio'] == row['municipio']]
    #aux = aux[['fecha_caso','0']]
    #aux.set_index('fecha_caso')
    aux.columns=['fecha','municipio',row['municipio']]
    aux = aux[['fecha', row['municipio']]]
    aux = aux.transpose()
    print(aux.shape)
    pru = pd.concat([pru, aux])
    print("Suma columnas: ",pru.shape)

(2, 97)
(2, 189)
(2, 31)
(2, 434)
(2, 32)
(2, 161)
(2, 0)
(2, 85)
(2, 158)
(2, 55)
(2, 222)
(2, 199)
(2, 104)
(2, 350)
(2, 268)
(2, 437)
(2, 403)
(2, 101)
(2, 344)
(2, 103)
(2, 155)
(2, 319)
(2, 0)
(2, 145)
(2, 39)
(2, 330)
(2, 117)
(2, 207)
(2, 66)
(2, 249)
(2, 0)
(2, 61)
(2, 92)
(2, 182)
(2, 413)
(2, 31)
(2, 87)
(2, 77)
(2, 121)
(2, 400)
(2, 24)
(2, 179)
(2, 74)
(2, 57)
(2, 213)
(2, 67)
(2, 79)
(2, 0)
(2, 45)
(2, 18)
(2, 372)
(2, 117)
(2, 254)
(2, 217)
(2, 65)
(2, 0)
(2, 0)
(2, 182)
(2, 109)
(2, 278)
(2, 72)
(2, 0)
(2, 24)
(2, 23)
(2, 283)
(2, 178)
(2, 64)
(2, 0)
(2, 182)
(2, 165)
(2, 145)
(2, 437)
(2, 135)
(2, 146)
(2, 112)
(2, 99)
(2, 225)
(2, 65)
(2, 77)
(2, 125)
(2, 43)
(2, 191)
(2, 80)
(2, 59)
(2, 173)
(2, 0)
(2, 72)
(2, 0)

In [109]:
pru = pru.replace(np.nan, 0)
print(pru.shape)

(176, 12389)

In [103]:
pru.to_excel('covid_fin.xlsx', index=False, encoding="utf8")