<div style="width: 100%; clear: both;">
<div style="float: left; width: 50%;">
<img src="http://www.uoc.edu/portal/_resources/common/imatges/marca_UOC/UOC_Masterbrand.jpg", align="left">
</div>
<div style="float: right; width: 50%;">
<p style="margin: 0; padding-top: 22px; text-align:right;">Visualización de Datos</p>
<p style="margin: 0; text-align:right;">Máster Universitario de Ciencia de datos </p>
<p style="margin: 0; text-align:right;">Universitat Oberta de Catalunya</p>
    <p style="margin: 0; text-align:right; padding-button: 100px;">Autor: Jorge Alonso Hernández</p>
</div>
</div>
<div style="width:100%;">&nbsp;</div>


# Práctica 2: Creación de la visualización y entrega del proyecto

Carga inicial de librerías

In [1]:
#Carga de librerías
import pandas as pd
import numpy as np 
import itertools

from datetime import datetime

Lectura de los datos de ficheros iniciales

In [2]:
data_covid = pd.read_csv("datasets/covid_canarias.csv")
municipios = pd.read_csv("datasets/municipios.csv")
islas = pd.read_csv("datasets/islas.csv")

In [3]:
data_covid.head()

,fecha_datos,isla,municipio,sexo,grupo_edad,fecha_caso,fecha_fallecido,fecha_curado,estado_caso,identificacion_caso,fallecido,curado,continua_enfermo,provincia
0,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
1,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
2,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,06/01/2022,NaN,17/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
3,14/03/2022,TENERIFE,Adeje,Hombre,50 - 59,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife
4,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,No,Sí,No,Santa Cruz de Tenerife

In [4]:
islas['isla'] = islas['isla'].str.title()
data_covid['isla'] = data_covid['isla'].str.title()

In [5]:
#Obtenenmos los nombres de los municipios en el documento de casos de covid
municipios_ori = pd.DataFrame(pd.unique(data_covid['municipio']))
municipios_ori.columns = ['municipio']

#Comprobamos los nombres de los municipios
df_destino = municipios.loc[~municipios['municipio'].isin(pd.unique(data_covid['municipio']))]
df_destino = pd.DataFrame(df_destino['municipio'])
df_origen = municipios_ori.loc[~municipios_ori['municipio'].isin(municipios['municipio'])]

df_origen = df_origen.sort_values(by='municipio')
df_destino = df_destino.sort_values(by='municipio')

df_origen = df_origen.reset_index()
df_destino = df_destino.reset_index()

In [6]:
print(df_origen)

   index              municipio
0     45               El Pinar
1     81           Fuencaliente
2     70      Icod de Los Vinos
3      5              La Laguna
4     24      Puerto de La Cruz
5     87        SIN ESPECIFICAR
6     32  San juan de La Rambla
7     29    Santa María de Guía
8     67            Valsequillo
9     69               Vilaflor

In [7]:
print(df_destino)

   index                            municipio
0     87                El Pinar de El Hierro
1     47             Fuencaliente de La Palma
2     55                    Icod de los Vinos
3     61                    Puerto de la Cruz
4     56           San Cristóbal de La Laguna
5     67                San Juan de la Rambla
6     22  Santa María de Guía de Gran Canaria
7     30          Valsequillo de Gran Canaria
8     85                   Vilaflor de Chasna

In [8]:
#Eliminamos el valor SIN ESPECIFICAR pues es correcto que estos valores no se visualicen en el mapa 
df_origen = df_origen.drop(5).reset_index()

In [9]:
print(df_origen)

   level_0  index              municipio
0        0     45               El Pinar
1        1     81           Fuencaliente
2        2     70      Icod de Los Vinos
3        3      5              La Laguna
4        4     24      Puerto de La Cruz
5        6     32  San juan de La Rambla
6        7     29    Santa María de Guía
7        8     67            Valsequillo
8        9     69               Vilaflor

In [10]:
for i in range(0,len(df_origen)):
    data_covid = data_covid.replace(df_origen['municipio'][i], df_destino['municipio'][i])

In [11]:
asignacion = data_covid[data_covid['identificacion_caso'] == 'Asignación']
residencia = data_covid[data_covid['identificacion_caso'] == 'Residencia']

In [12]:
municipios = municipios.merge(islas[['geocode', 'isla', 'provincia', 'poblacion']],  left_on='geocode_isla', right_on='geocode')

In [13]:
df_municipios = pd.DataFrame(municipios['municipio'])
df_islas = pd.DataFrame(islas['isla'])
df_provincias = pd.DataFrame(pd.unique(islas['provincia']))
df_provincias.columns = ['provincia']

In [14]:
capitales = ['Santa Cruz de Tenerife', 'Santa Cruz de La Palma', 'San Sebastián de La Gomera', 'Valverde', 'Las Palmas de Gran Canaria', 'Puerto del Rosario', 'Arrecife']
capitales_provincia = ['Santa Cruz de Tenerife', 'Las Palmas de Gran Canaria']

df_capitales = municipios.loc[municipios['municipio'].isin(capitales)]
df_capitales = df_capitales.reset_index()

df_capitales_provincia = municipios.loc[municipios['municipio'].isin(capitales_provincia)]
df_capitales_provincia = df_capitales_provincia.reset_index()

In [15]:
df_capitales = df_capitales[['municipio','isla', 'municipio','longitud_capital','latitud_capital', 'poblacion']]
df_capitales_provincia = df_capitales[['municipio','isla', 'municipio','longitud_capital','latitud_capital']]

In [16]:
def conversion(df, tipo_agrupamiento):
    df_result = pd.DataFrame()
    df_result_accumul = pd.DataFrame()
        
    if tipo_agrupamiento == 'municipios':
        df_agrupamientos = df_municipios
        label = 'municipio'
    elif tipo_agrupamiento == 'islas':
        df_agrupamientos = df_islas
        label = 'isla'
    elif tipo_agrupamiento == 'provincias':
        df_agrupamientos = df_provincias
        label = 'provincia'
    else:
        return None
    
    for index, row in df_agrupamientos.iterrows():
        aux = df[df[label] == row[label]]
        aux = aux.groupby(['fecha_caso',label]).size().reset_index()
        aux.columns=['fecha', label, row[label]]
        aux = aux[['fecha', row[label]]]
        aux['fecha'] = pd.to_datetime(aux['fecha'], dayfirst=True,format='%d/%m/%Y', exact=True)
        aux['fecha'] = aux['fecha'].dt.strftime('%Y/%m/%d')
        
        aux = aux.sort_values(by='fecha')
        aux = aux.set_index('fecha')
        aux_acc = aux.cumsum()
        aux = aux.transpose()
        aux_acc = aux_acc.transpose()
        
        df_result = pd.concat([df_result, aux], axis = 0)
        df_result_accumul = pd.concat([df_result_accumul, aux_acc], axis = 0)
    
    
    ## Ordenamos por fecha y cumplimentamos los NaN con el valor anterior
    df_result_accumul = df_result_accumul.transpose()
    df_result_accumul = df_result_accumul.sort_values(by=['fecha'])
    df_result_accumul[0:1] = df_result_accumul[0:1].fillna(0)   
    df_result_accumul = df_result_accumul.fillna(method="pad")
    df_result_accumul = df_result_accumul.transpose()
    
    #Ordenamos por fecha y cumplimentamos los NaN por 0
    df_result = df_result.replace(np.nan, 0)
    df_result = df_result.transpose()
    df_result = df_result.sort_values(by=['fecha'])
    df_result = df_result.transpose()
    
    df_result = df_result.reset_index()
    df_result_accumul = df_result_accumul.reset_index()
    
    return df_result, df_result_accumul

In [17]:
data_municipios_asignacion, data_municipios_asignacion_accumul =  conversion(asignacion, 'municipios')
data_islas_asignacion, data_islas_asignacion_accumul = conversion(asignacion, 'islas')
data_provincias_asignacion, data_provincias_asignacion_accumul = conversion(asignacion, 'provincias')

In [18]:
data_municipios_residencia, data_municipios_residencia_accumul =  conversion(residencia, 'municipios')
data_islas_residencia, data_islas_residencia_accumul = conversion(residencia, 'islas')
data_provincias_residencia, data_provincias_residencia_accumul = conversion(residencia, 'provincias')

Añadimos los datosw de isla y provincia a los datos de los municipios para la visualización

In [19]:
data_municipios_asignacion = data_municipios_asignacion.merge(municipios[['municipio', 'isla', 'provincia']],  left_on='index', right_on='municipio')
data_municipios_asignacion_accumul = data_municipios_asignacion_accumul.merge(municipios[['municipio', 'isla', 'provincia']],  left_on='index', right_on='municipio')

data_municipios_residencia = data_municipios_residencia.merge(municipios[['municipio', 'isla', 'provincia']],  left_on='index', right_on='municipio')
data_municipios_residencia_accumul = data_municipios_residencia_accumul.merge(municipios[['municipio', 'isla', 'provincia']],  left_on='index', right_on='municipio')

In [20]:
data_provincias_asignacion.to_excel('data/provincias_asignacion.xlsx', index=False, encoding="utf8")
data_provincias_asignacion_accumul.to_excel('data/provincias_asignacion_acc.xlsx', index=False, encoding="utf8")
data_islas_asignacion.to_excel('data/islas_asignacion.xlsx', index=False, encoding="utf8")
data_islas_asignacion_accumul.to_excel('data/islas_asignacion_acc.xlsx', index=False, encoding="utf8")
data_municipios_asignacion.to_excel('data/municipios_asignacion.xlsx', index=False, encoding="utf8")
data_municipios_asignacion_accumul.to_excel('data/municipios_asignacion_acc.xlsx', index=False, encoding="utf8")

In [21]:
data_provincias_residencia.to_excel('data/provincias_residencia.xlsx', index=False, encoding="utf8")
data_provincias_residencia_accumul.to_excel('data/provincias_residencia_acc.xlsx', index=False, encoding="utf8")
data_islas_residencia.to_excel('data/islas_residencia.xlsx', index=False, encoding="utf8")
data_islas_residencia_accumul.to_excel('data/islas_residencia_acc.xlsx', index=False, encoding="utf8")
data_municipios_residencia.to_excel('data/municipios_residencia.xlsx', index=False, encoding="utf8")
data_municipios_residencia_accumul.to_excel('data/municipios_residencia_acc.xlsx', index=False, encoding="utf8")

In [23]:
df_capitales.to_csv('mapas/capitales.csv', index=False, sep=",")
df_capitales_provincia.to_csv('mapas/capitales_provincia.csv', index=False, sep=",")